{% extends 'admin_panel/elements/base.html' %}
{% load static %}

{% block content %}
    <div class="content-wrapper">

        <h1>Add a new bird</h1>
        <form id="form-container" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ bird_formset.management_form }}
            <div class="form_set">
                {% for form in bird_formsetz %}
                    <div class="bird-form">
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        {{ form.as_p }}
                    </div>
                {% endfor %}
            </div>

            <div id="empty_form" style="display:none">
                {{ bird_formset.empty_form }}
            </div>

            <button id="add_more" type="button">Add Another Bird</button>
            <button type="submit">Create Birds</button>
        </form>

    </div>
{% endblock %}

{% block scripts %}
    <script>
        let form_count = {{ bird_formset.total_form_count }}
            $('#add_more').click(function () {
                form_count++
                {#const form_idx = $('#id_formset_document-TOTAL_FORMS').val();#}
                $('.form_set').append($('#empty_form').html().replace(/__prefix__/g, ('new' + form_count)));
                $('#id_form-TOTAL_FORMS').val(form_count);
                {#form_idx.eq('parseInt(form_idx) + 1');#}
            });
    </script>
{% endblock %}
