{% extends 'admin_panel/elements/base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}
{% block nav_item_flat_list %}active{% endblock %}

{% block title %}Квартира {{ object.name }}{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

    <div class="content-wrapper" style="min-height: 867px;">
        <section class="content-header">
            <h1>Заявка №{{ object.id }}</h1>

            <ul class="breadcrumb">
                <li><a href="{% url 'admin_panel:home' %}"><i class="fa fa-home"></i> Главная</a></li>
                <li><a href="{% url 'admin_panel:call_request_list' %}">Заявки вызова мастера</a></li>
                <li class="active">Заявка №{{ object.id }}</li>
            </ul>
        </section>

        <section class="content">

            <div class="row">
                <div class="col-xs-12 col-md-7 col-lg-6">
                    <div class="page-header-spec">
                        <div class="form-group">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </div>
                                <div class="form-control pull-right">{{ object.request_date }}</div>
                            </div>
                        </div>
                        <span class="label-mid">от</span>
                        <div class="form-group">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-time"></i>
                                </div>
                                <div class="form-control pull-right">{{ object.request_time }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title"></h3>
                            <div class="box-tools">
                                <a href="{% url 'admin_panel:call_request_update' object.pk %}"
                                   class="btn btn-primary btn-sm">
                                    <span class="hidden-xs">Редактировать заявку</span><i
                                        class="fa fa-pencil visible-xs" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-body">
                            <table class="table table-bordered table-striped table-view">
                                <tbody>
                                <tr>
                                    <td>Статус</td>
                                    <td>
                                        {% if object.status == "NEW" %}
                                            <small class="label label-primary">Новое</small>
                                        {% elif object.status == "IN_WORK" %}
                                            <small class="label label-warning">В работе</small>
                                        {% elif object.status == "DONE" %}
                                            <small class="label label-success">Выполнено</small>
                                        {% else %}
                                            ERROR
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Владелец</td>
                                    <td>
                                        <a href="{% url 'admin_panel:user_detail' object.flat_owner.pk %}">
                                            {{ object.flat_owner.full_name }} </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Телефон</td>
                                    <td>{{ object.flat_owner.phone }}</td>
                                </tr>
                                <tr>
                                    <td>Квартира</td>
                                    <td>
                                        <a href="{% url 'admin_panel:flat_detail' object.flat.id %}">
                                            {{ object.flat }}, {{ object.flat.house }} </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Тип мастера</td>
                                    <td>{{ object.master_type }}</td>
                                </tr>
                                <tr>
                                    <td>Мастер</td>
                                    <td>
                                        {{ object.master }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Описание</td>
                                    <td>
                                        {{ object.description }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Добавлено</td>
                                    <td>{{ object.created }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}

{% block scripts %}
    {% include 'admin_panel/elements/messages.html' %}>
{% endblock %}
