{% extends 'admin_panel/elements/base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}
{% block nav_item_flat_list %}active{% endblock %}

{% block title %}Квартира {{ object.name }}{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

    <div class="content-wrapper" style="min-height: 869px;">
        <section class="content-header">
            <h1>Квартира {{ object.name }}</h1>

            <ul class="breadcrumb">
                <li><a href="{% url 'admin_panel:home' %}"><i class="fa fa-home"></i> Главная</a></li>
                <li><a href="{% url 'admin_panel:flat_list' %}">Квартиры</a></li>
                <li class="active">Квартира {{ object.name }}</li>
            </ul>
        </section>

        <section class="content">

            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Просмотр квартиры</h3>

                    <div class="box-tools">
                        <a href="{% url 'admin_panel:transaction_income_create' %}?account_id={{ object.flat_account.pk }}"
                           class="btn btn-default btn-sm {% if not object.flat_account %}disabled{% endif %}">
                            <span class="hidden-xs"><i class="fa fa-dollar"></i>Принять платеж</span><i
                                class="fa fa-pencil visible-xs" aria-hidden="true"></i>
                        </a>

                        <a href="{% url 'admin_panel:receipt_create' %}?account_id={{ object.flat_account.pk }}"
                           class="btn btn-default btn-sm {% if not object.flat_account %}disabled{% endif %}">
                            <span class="hidden-xs"><i class="fa fa-files-o"></i>Оформить квитанцию</span><i
                                class="fa fa-pencil visible-xs" aria-hidden="true"></i>
                        </a>

                        <a href="{% url 'admin_panel:flat_update' object.pk %}" class="btn btn-primary btn-sm">
                            <span class="hidden-xs">Редактировать квартиру</span><i class="fa fa-pencil visible-xs"
                                                                                    aria-hidden="true"></i>
                        </a>
                    </div>
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table table-bordered table-striped table-view">
                                <tbody>
                                <tr>
                                    <td>Лицевой счет</td>
                                    <td>
                                        {{ object.account }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Номер квартиры</td>
                                    <td>{{ object.number }}</td>
                                </tr>
                                <tr>
                                    <td>Площадь</td>
                                    <td>
                                        {{ object.area|floatformat:2 }} м<sup>2</sup>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Дом</td>
                                    <td>
                                        {% if object.house %}
                                            <a href="{% url 'admin_panel:house_detail' object.house.id %}"> {{ object.house.name }} </a>
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Секция</td>
                                    <td>{{ object.section }}</td>
                                </tr>
                                <tr>
                                    <td>Этаж</td>
                                    <td>Этаж {{ object.floor }}</td>
                                </tr>
                                <tr>
                                    <td>Владелец</td>
                                    <td>
                                        {{ object.owner }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Тариф</td>
                                    <td>
                                        {{ object.tariff.name }}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div>
                                <p><a href="{% url 'admin_panel:meter_data_list_by_flat' %}?flat_id={{ object.id }}">Посмотреть
                                    показания счетчиков</a></p>
                                {% if object.flat_account %}
                                    <p>
                                        <a href="{% url 'admin_panel:transaction_list' %}?account_id={{ object.flat_account.id }}">Посмотреть
                                            приходы</a></p>
                                    <p>
                                        <a href="{% url 'admin_panel:receipt_list' %}?account_id={{ object.flat_account.id }}">Посмотреть
                                            квитанции</a></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}

{% block scripts %}
    {% include 'admin_panel/elements/messages.html' %}>
{% endblock %}
