{% extends 'admin_panel/elements/base.html' %}
{% load extra_tags %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}
{% block nav_item_house_list %}active{% endblock %}

{% block title %}Дом {{ object.name }}{% endblock %}

{% block head %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link href="{% static 'admin_panel/css/select2-bootstrap4.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="content-wrapper" style="min-height: 345px;">
        <section class="content-header">
            <h1>Дом {{ object.name }}</h1>

            <ul class="breadcrumb">
                <li><a href="{% url 'admin_panel:home' %}"><i class="fa fa-home"></i> Главная</a></li>
                <li><a href="{% url 'admin_panel:house_list' %}">Дома</a></li>
                <li><a href="{% url 'admin_panel:house_detail' object.id %}">Дом {{ object.name }}</a></li>
                <li class="active">Редактирование</li>
            </ul>

        </section>

        <section class="content">

            <div class="box">
                <div class="box-body">

                    <form method="post" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-xs-12 col-lg-4">
                                <div class="form-group">

                                    {{ form1.name.label_tag }}
                                    {{ form1.name }}

                                </div>
                                <div class="form-group">

                                    {{ form1.address.label_tag }}
                                    {{ form1.address }}

                                </div>

                                <div class="form-group">

                                    {{ form1.image1.label_tag }}
                                    {{ form1.image1 }}

                                </div>
                                <div class="form-group">

                                    {{ form1.image2.label_tag }}
                                    {{ form1.image2 }}

                                </div>
                                <div class="form-group">

                                    {{ form1.image3.label_tag }}
                                    {{ form1.image3 }}

                                </div>
                                <div class="form-group">

                                    {{ form1.image4.label_tag }}
                                    {{ form1.image4 }}

                                </div>
                                <div class="form-group">

                                    {{ form1.image5.label_tag }}
                                    {{ form1.image5 }}

                                </div>
                            </div>

                            <div class="col-xs-12 col-lg-8">
                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                        <img src="



                                                {% if object.image1 %}{{ object.image1.url }}{% else %}{% static 'admin_panel/images/jpg/Image-not-found.jpg' %}{% endif %}"
                                             class="img-responsive largeImg margin-bottom-30" alt=""
                                             style="width:522px; height: 350px; object-fit: cover;">
                                    </div>
                                    <div class="col-xs-6 col-md-3">
                                        <img src="



                                                {% if object.image2 %}{{ object.image2.url }}{% else %}{% static 'admin_panel/images/jpg/Image-not-found.jpg' %}{% endif %}"
                                             class="img-responsive smallImg margin-bottom-30" alt=""
                                             style="width:248px; height: 160px; object-fit: cover;">
                                    </div>
                                    <div class="col-xs-6 col-md-3">
                                        <img src="



                                                {% if object.image3 %}{{ object.image3.url }}{% else %}{% static 'admin_panel/images/jpg/Image-not-found.jpg' %}{% endif %}"
                                             class="img-responsive smallImg margin-bottom-30" alt=""
                                             style="width:248px; height: 160px; object-fit: cover;">
                                    </div>
                                    <div class="col-xs-6 col-md-3">
                                        <img src="



                                                {% if object.image4 %}{{ object.image4.url }}{% else %}{% static 'admin_panel/images/jpg/Image-not-found.jpg' %}{% endif %}"
                                             class="img-responsive smallImg margin-bottom-30" alt=""
                                             style="width:248px; height: 160px; object-fit: cover;">
                                    </div>
                                    <div class="col-xs-6 col-md-3">
                                        <img src="



                                                {% if object.image5 %}{{ object.image5.url }}{% else %}{% static 'admin_panel/images/jpg/Image-not-found.jpg' %}{% endif %}"
                                             class="img-responsive smallImg margin-bottom-30" alt=""
                                             style="width:248px; height: 160px; object-fit: cover;">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-lg-8">
                                <div class="nav-tabs-custom">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#tab-sections" data-toggle="tab"
                                                              aria-expanded="true">Секции</a></li>
                                        <li><a href="#tab-house-staff" data-toggle="tab" aria-expanded="false">Пользователи</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">

                                        <div class="tab-pane active clearfix" id="tab-sections">
                                            {{ formset.management_form }}
                                            <div id="form-section-rows" class="form-group">
                                                {% for form in formset %}
                                                    {% for hidden in form.hidden_fields %}
                                                        {{ hidden }}
                                                    {% endfor %}

                                                    <div class="row form-section"
                                                         id="section-{{ form.name.auto_id|get_id }}">
                                                        <div class="col-xs-12">
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <div class="col-xs-8">
                                                                        {{ form.name.label_tag }}
                                                                        {{ form.name }}
                                                                    </div>
                                                                    <div class="col-xs-4">
                                                                        {{ form.floors.label_tag }}
                                                                        {{ form.floors }}
                                                                    </div>
                                                                    <span class="input-group-btn" style="">
                                                                {% if form.instance.id %}
                                                                    <button type="button" style="bottom: -11px;"
                                                                            onclick="delete_object(event, {{ form.instance.id }})"
                                                                            class="btn btn-danger form-row-remove-btn">
                                                                        <i class="fa fa-trash"></i></button>
                                                                {% else %}
                                                                    <button type="button" style="bottom: -11px;"
                                                                            onclick="delete_parent(this, 2)"
                                                                            class="btn btn-danger form-row-remove-btn">
                                                                        <i class="fa fa-trash"></i></button>
                                                                {% endif %}
                                                                </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <button class="btn btn-success pull-right form-row-add-section-btn"
                                                    type="button">Добавить
                                            </button>
                                        </div>

                                        <div class="tab-pane clearfix" id="tab-house-staff">
                                            {{ formset2.management_form }}
                                            <div id="form-house-staff-rows" class="form-group">
                                                {% for form in formset2 %}
                                                    {% for hidden in form.hidden_fields %}
                                                        {{ hidden }}
                                                    {% endfor %}
                                                    <div class="row form-section"
                                                         id="house-staff-{{ form.house_staff.auto_id|get_id }}">
                                                        <div class="col-xs-12">
                                                            <div id="form-houseuseradmin-1"
                                                                 class="row form-houseuseradmin">

                                                                <div class="col-xs-12 col-sm-7">
                                                                    <div class="form-group">
                                                                        {{ form.house_staff|as_crispy_field }}
                                                                    </div>
                                                                </div>

                                                                <div class="col-xs-12 col-sm-5">
                                                                    <div class="form-group">
                                                                        <label for="{{ form.house_staff.auto_id }}-role">Роль</label>
                                                                        <div class="input-group">
                                                                            <input type="text"
                                                                                   class="form-control useradmin-role"
                                                                                   id="{{ form.house_staff.auto_id }}-role"
                                                                                   value="{{ form.instance.house_staff.role }}"
                                                                                   readonly="">
                                                                            <span class="input-group-btn">
                                                                     {% if form.instance.id %}
                                                                         <button type="button"
                                                                                 onclick="delete_object_house_staff(event, {{ form.instance.id }})"
                                                                                 class="btn btn-danger form-row-remove-btn">
                                                                        <i class="fa fa-trash"></i></button>
                                                                     {% else %}
                                                                         <button type="button"
                                                                                 onclick="delete_parent(this, 4)"
                                                                                 class="btn btn-danger form-row-remove-btn">
                                                                            <i class="fa fa-trash"></i></button>
                                                                     {% endif %}

                                                                    </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <button class="btn btn-success pull-right form-row-add-house-staff-btn"
                                                    type="button">Добавить
                                            </button>
                                        </div>

                                        <div id="form-section-empty-form" style="display: none;">

                                            <div class="row form-section"
                                                 id="section-{{ formset.empty_form.name.auto_id|get_id }}">
                                                <div class="col-xs-12">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="col-xs-8 cols-sm-12">
                                                                {{ formset.empty_form.name.label_tag }}
                                                                {{ formset.empty_form.name }}
                                                            </div>
                                                            <div class="col-xs-4 cols-sm-12">
                                                                {{ formset.empty_form.floors.label_tag }}
                                                                {{ formset.empty_form.floors }}
                                                            </div>
                                                            <div class="input-group-btn">
                                                                <button type="button" style="bottom: -11px;"
                                                                        onclick="delete_parent(this, 4)"
                                                                        class="btn btn-danger form-row-remove-btn">
                                                                    <i class="fa fa-trash"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div id="form-staff-empty-form" style="display: none;">
                                            <div class="row form-section">
                                                <div class="col-xs-12">
                                                    <div id="form-houseuseradmin-1"
                                                         class="row form-houseuseradmin">

                                                        <div class="col-xs-12 col-sm-7">
                                                            <div class="form-group">
                                                                {{ formset2.empty_form.house_staff|as_crispy_field }}
                                                            </div>
                                                        </div>

                                                        <div class="col-xs-12 col-sm-5">
                                                            <div class="form-group">
                                                                <label for="{{ formset2.empty_form.house_staff.auto_id }}-role">Роль</label>
                                                                <div class="input-group">
                                                                    <input type="text"
                                                                           class="form-control useradmin-role"
                                                                           id="{{ formset2.empty_form.house_staff.auto_id }}-role"
                                                                           value=""
                                                                           readonly="">
                                                                    <span class="input-group-btn">
                                                                                                                <button type="button"
                                                                                                                        onclick="delete_parent(this, 4)"
                                                                                                                        class="btn btn-danger form-row-remove-btn">
                                                                                                                    <i class="fa fa-trash"></i></button>
                                                                                                            </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-right">
                                <div class="form-group">
                                    <a href="{% url 'admin_panel:house_update' object.id %}" class="btn btn-default">Отменить</a>
                                    <button type="submit" class="btn btn-success">Сохранить</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>

{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script src="{% static 'admin_panel/js/jquery.formset.js' %}"></script>
    <script>
        let section_empty_field = document.getElementById('id_formset_sections-__prefix__-floors')
        section_empty_field.setAttribute('min', '1')
        let sections_form_counters = $('#id_formset_sections-TOTAL_FORMS').val()
        let sections_form_initial = $('#id_formset_sections-INITIAL_FORMS').val()

        let house_staff_counters = $('#id_house-staff-TOTAL_FORMS').val()
        let house_staff_initial = $('#id_house-staff-INITIAL_FORMS').val()

        $('.form-row-add-section-btn').click(function () {
            sections_form_counters++
            $('#form-section-rows').append($('#form-section-empty-form').html().replace(/__prefix__/g, (sections_form_counters - 1)));
            $('#id_formset_sections-TOTAL_FORMS').val(sections_form_counters);

            let new_section_floors_field = document.getElementById('id_formset_sections-' + (sections_form_counters - 1) + '-floors')
            new_section_floors_field.addEventListener("keypress", function (evt) {
                if (evt.which < 48 || evt.which > 57) {
                    evt.preventDefault();
                }
            });

            let new_section_name_field = document.getElementById('id_formset_sections-' + (sections_form_counters - 1) + '-name')
            new_section_name_field.value = 'Секция ' + sections_form_counters
        })
        $('.form-row-add-house-staff-btn').click(function () {
            house_staff_counters++
            $('#form-house-staff-rows').append($('#form-staff-empty-form').html().replace(/__prefix__/g, (house_staff_counters - 1)));
            $('#id_house-staff-TOTAL_FORMS').val(house_staff_counters);

            let select_house_staff = $('#id_house-staff-' + (house_staff_counters - 1) + '-house_staff')

            select_house_staff.select2({
                theme: 'bootstrap',
                ajax: {
                    url: function (params) {
                        return '{% url 'admin_panel:api_staff' %}';
                    },
                    data: function (params) {
                        // Query parameters will be ?search=[term]&type=public
                        return {
                            search: params.term,
                            type: 'public'
                        };
                    }
                }
            })

            let newOptionStaff = new Option('Выберите...', '0', false, false);
            select_house_staff.append(newOptionStaff).val(0).trigger('change')
            let select_house_staff_role = $('#id_house-staff-' + (house_staff_counters - 1) + '-house_staff-role')

            select_house_staff.on("select2:select", function () {
                $.ajax({
                    url: '{% url 'admin_panel:api_get_staff_role' %}',
                    data: {
                        'user_id': select_house_staff.val(),
                    },
                    dataType: 'json',
                    success: function (data) {
                        select_house_staff_role.val(data.results)
                    }
                });
            });
        })

        function delete_parent(elem, level) {
            let form_set = elem.parentElement;
            for (let i = 0; i < level; i++) {
                form_set = form_set.parentElement;
            }
            form_set.remove()
        }

        function delete_object(event, id) {
            if (window.confirm("Вы действительно хотете удалить данные?")) {
                send_ajax(id)
            } else {
                event.preventDefault();
            }
        }

        function delete_object_house_staff(event, staff_user_id) {
            if (window.confirm("Вы действительно хотете удалить данные?")) {
                $.ajax({
                    url: '{% url 'admin_panel:api_house_staff_delete' %}',
                    data: {
                        house: '{{ object.id }}',
                        staff: staff_user_id
                    },
                    dataType: 'json',
                    success: function (data) {
                        window.location = window.location
                    }
                });
            } else {
                event.preventDefault();
            }
        }


        function send_ajax(id) {
            let form_data = new FormData()

            form_data.append('csrfmiddlewaretoken', '{{ csrf_token }}')
            form_data.append('pk', id)

            $.ajax({
                type: 'post',
                url: '/admin_panel/section/delete/',
                enctype: 'multipart/form-data',
                data: form_data,
                success: function (data) {
                    location.href = location.href;
                },
                error: function (response) {
                    console.log(response)
                },
                cache: false,
                contentType: false,
                processData: false,
            });
        }
    </script>

    {% include 'admin_panel/elements/messages.html' %}>
{% endblock %}
