{% extends 'admin_panel/elements/base.html' %}
{% load extra_tags %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}
{% block nav_item_meter_data_list %}active{% endblock %}

{% block title %}Новое показание{% endblock %}

{% block head %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link href="{% static 'admin_panel/css/select2-bootstrap4.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}


    <div class="content-wrapper" style="min-height: 867px;">
        <section class="content-header">
            <h1>Новое показание</h1>

            <ul class="breadcrumb">
                <li><a href="{% url 'admin_panel:home' %}"><i class="fa fa-home"></i> Главная</a></li>
                <li><a href="{% url 'admin_panel:meter_data_list' %}">Счетчики</a></li>
                <li class="active">Новое показание</li>
            </ul>
        </section>

        <section class="content">


            <form method="post" novalidate>
                {% csrf_token %}
                <div class="row">
                    <div class="col-xs-12 col-md-7 col-lg-6">
                        <div class="page-header-spec">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">№</div>
                                    {{ form1.number }}
                                </div>
                            </div>
                            <span class="label-mid">от</span>
                            <div class="form-group">

                                <div id="accounttransaction-uid_date-kvdate" class="input-group date">
                                    <span class="input-group-addon kv-date-calendar" title="Выбрать дату"><i
                                            class="glyphicon glyphicon-calendar"></i></span>
                                    {{ form1.created }}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="col-xs-12 col-sm-6">

                                    <div class="form-group">
                                        {{ form1.house|as_crispy_field }}
                                    </div>

                                    <div class="form-group">
                                        {{ form1.section|as_crispy_field }}
                                    </div>

                                    <div class="form-group">
                                        {{ form1.flat|as_crispy_field }}
                                    </div>

                                    <div class="form-group">
                                        {{ form1.service|as_crispy_field }}
                                    </div>

                                </div>
                                <div class="col-xs-12 col-sm-6">

                                    <div class="form-group">
                                        {{ form1.status|as_crispy_field }}
                                    </div>

                                    <div class="form-group">
                                        {{ form1.amount|as_crispy_field }}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            <div class="form-group">
                                <a href="{% url 'admin_panel:meter_data_create' %}" class="btn btn-default">Отменить</a>
                                <button type="submit" class="btn btn-success">Сохранить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>

{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script>
        $(document).ready(function () {
            const select_house = $('select[name=form1-house]')
            const select_section = $('select[name=form1-section]')
            const select_flat = $('select[name=form1-flat]')
            const select_service = $('select[name=form1-service]')
            const select_status = $('select[name=form1-status]')

            select_status.select2({
                theme: 'bootstrap',
            })
            select_service.select2({
                theme: 'bootstrap',
            })
            select_house.select2({
                theme: 'bootstrap',
                ajax: {
                    url: function (params) {
                        return '/admin_panel/api/houses/';
                    },
                    data: function (params) {
                        // Query parameters will be ?search=[term]&type=public
                        return {
                            search: params.term,
                            type: 'public'
                        };
                    }
                }
            });
            select_section.select2({
                theme: 'bootstrap',
                ajax: {
                    url: function (params) {
                        return '/admin_panel/api/sections/' + select_house.val();
                    },
                    data: function (params) {
                        // Query parameters will be ?search=[term]&type=public
                        return {
                            search: params.term,
                            type: 'public'
                        };
                    }
                }
            });
            select_flat.select2({
                theme: 'bootstrap',
                ajax: {
                    url: function (params) {
                        return '/admin_panel/api/flats/';
                    },
                    data: function (params) {
                        // Query parameters will be ?search=[term]&type=public
                        return {
                            search: params.term,
                            section_id: select_section.val(),
                        };
                    }
                }
            });

            select_house.on("select2:select", function () {
                select_section.select2("val", "0")
                select_flat.select2("val", 0)
            });
            select_section.on("select2:select", function () {
                select_flat.select2("val", 0)
            });

            !function (a) {
                a.fn.datepicker.dates.ru = {
                    days: ["Воскресенье", "Понедельник", "Вторник", "Среда", "Четверг", "Пятница", "Суббота"],
                    daysShort: ["Вск", "Пнд", "Втр", "Срд", "Чтв", "Птн", "Суб"],
                    daysMin: ["Вс", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб"],
                    months: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
                    monthsShort: ["Янв", "Фев", "Мар", "Апр", "Май", "Июн", "Июл", "Авг", "Сен", "Окт", "Ноя", "Дек"],
                    today: "Сегодня",
                    clear: "Очистить",
                    format: "dd.mm.yyyy",
                    weekStart: 1,
                    monthsTitle: "Месяцы"
                }
            }(jQuery);

            $('#id_form1-created').datepicker({
                format: 'yyyy-mm-dd',
                startDate: '-100y',
                endDate: '+0d',
                language: 'ru'
            });

            const form1_house_id = '{{ form1_initial.house.id }}'
            const form1_house_text = '{{ form1_initial.house.text }}'
            const form1_section_id = '{{ form1_initial.section.id }}'
            const form1_section_name = '{{ form1_initial.section.text }}'
            if (form1_house_id !== '' && form1_section_id !== '') {
                let newOptionHouse = new Option(form1_house_text, form1_house_id, false, false);
                select_house.append(newOptionHouse).val(form1_house_id).trigger('change')
                let newOptionSection = new Option(form1_section_name, form1_section_id, false, false);
                select_section.append(newOptionSection).val(form1_section_id).trigger('change')
            }
        });
    </script>
    {% include 'admin_panel/elements/messages.html' %}>
{% endblock %}
