{% extends 'admin_panel/elements/base.html' %}
{% load extra_tags %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}
{% block nav_item_receipt_list %}active{% endblock %}

{% block title %}Новая квитанция{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/fixedheader/3.1.9/css/fixedHeader.dataTables.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link href="{% static 'admin_panel/css/select2-bootstrap4.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/fixedcolumns/3.3.3/css/fixedColumns.dataTables.min.css">
{% endblock %}

{% block content %}

    <div class="content-wrapper" style="min-height: 867px;">
        <section class="content-header">
            <h1>Квитанция {{ receipt.number }}</h1>

            <ul class="breadcrumb">
                <li><a href="{% url 'admin_panel:home' %}"><i class="fa fa-home"></i> Главная</a></li>
                <li><a href="{% url 'admin_panel:receipt_list' %}">Квитанции</a></li>
                <li class="active">Квитанция {{ receipt.number }}</li>
            </ul>
        </section>

        <section class="content">
            <div class="invoice-create">

                <form method="post">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-xs-12 col-md-7 col-lg-6">
                            <div class="page-header-spec">
                                <div class="form-group field-invoice-uid required">
                                    <div class="input-group">
                                        <div class="input-group-addon">№</div>
                                        {{ form1.number }}
                                    </div>
                                </div>
                                <span class="label-mid">от</span>
                                <div class="form-group field-invoice-uid_date">
                                    <div id="invoice-uid_date-kvdate" class="input-group  date"><span
                                            class="input-group-addon kv-date-calendar" title="Выбрать дату"><i
                                            class="glyphicon glyphicon-calendar"></i></span>
                                        {{ form1.created }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-5 col-lg-6">
                            <div class="btn-group pull-right margin-bottom">
                                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    Выберите действие <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'admin_panel:receipt_create' %}?receipt_id={{ receipt.id }}" class="add-counters">Копировать</a></li>
                                    <li><a href="#!" class="add-counters">Удалить</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box-body">
                            <input type="hidden" id="invoice-id" name="Invoice[id]">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        {{ form1.house|as_crispy_field }}
                                    </div>
                                    <div class="form-group">
                                        {{ form1.section|as_crispy_field }}
                                    </div>
                                    <div class="form-group">
                                        {{ form1.flat|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        {{ form1.is_passed|as_crispy_field }}
                                    </div>

                                    <div class="form-group">
                                        {{ form1.status|as_crispy_field }}
                                    </div>

                                    <div class="form-group">
                                        {{ form1.tariff|as_crispy_field }}
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                {{ form1.period_start.label_tag }}
                                                <div class="input-group date">
                                                    <span class="input-group-addon kv-date-calendar"
                                                          title="Выбрать дату">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </span>
                                                    {{ form1.period_start }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                {{ form1.period_end.label_tag }}
                                                <div class="input-group date"> <span
                                                        class="input-group-addon kv-date-calendar" title="Выбрать дату">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </span>
                                                    {{ form1.period_end }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        {{ form1.account|as_crispy_field }}
                                    </div>

                                    <p>
                                        <b>Владелец:</b> <span><a id="user-name" href="#">-</a></span>
                                    </p>
                                    <p>
                                        <b>Телефон:</b> <span><a id="user-phone" href="#">-</a></span>
                                    </p>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="table-responsive no-padding">
                                        <table class="table table-bordered table-hover" id="my-table">
                                            <thead>
                                            <tr>
                                                <th style="min-width: 200px;">Услуга</th>
                                                <!--<th style="min-width: 180px;">Показания</th>-->
                                                <th style="min-width: 180px;">Расход</th>
                                                <th style="min-width: 120px;">Ед. изм.</th>
                                                <th style="min-width: 180px;">Цена за ед., грн.</th>
                                                <th style="min-width: 180px;">Стоимость, грн.</th>
                                                <th style="width: 40px; min-width: 40px;"></th>
                                            </tr>
                                            </thead>
                                            <tbody id="formset-rows">

                                            {{ formset.management_form }}
                                            <div id="can-delete-list"></div>

                                            {% for form in formset %}
                                                {% for hidden in form.hidden_fields %}
                                                    {{ hidden }}
                                                {% endfor %}

                                                <tr id="{{ form.receipt.auto_id|get_id }}" class="">
                                                    <td>
                                                        <input type="hidden" id="{{ form.receipt.auto_id }}"
                                                               name="{{ form.receipt.html_name }}"
                                                               value="{{ receipt.id }}">
                                                        {{ form.service }}
                                                    <td>
                                                        {{ form.consumption }}
                                                    <td>
                                                        <select class="form-control serviceunit-name"
                                                                name="[0]serviceunit_name" disabled="">
                                                            <option value="">Ед. изм.</option>
                                                            <option value="0">asg.</option>
                                                        </select>
                                                    <td>
                                                        {{ form.price }}
                                                    <td>
                                                        {{ form.cost }}
                                                    <td>
                                                        <button type="button" onclick="delete_parent(this, 1)"
                                                                class="btn btn-default btn-sm form-row-remove-btn"
                                                                title="Удалить услугу"><i class="fa fa-trash"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            {% endfor %}

                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <td colspan="4" valing="middle">
                                                    <button type="button" id="add-more"
                                                            class="btn btn-default btn-hover-change form-row-add-invoiceservice-btn">
                                                        Добавить услугу
                                                    </button>
                                                    <button type="button" class="btn btn-default set-tariff-services">
                                                        Установить все услуги согласно тарифу
                                                    </button>
                                                    <button id="add-meters-data" type="button"
                                                            class="btn btn-default add-counters">
                                                        Добавить показания счетчиков
                                                    </button>
                                                </td>
                                                <td style="min-width: 180px;">
                                                    <div class="h4">
                                                        Итого: <b><span id="price-total">0.00</span></b> грн
                                                    </div>
                                                </td>
                                                <td style="width: 40px; min-width: 40px;"></td>
                                            </tr>
                                            </tfoot>
                                        </table>

                                        <table style="display:none">
                                            <tbody id="formset-empty-form">
                                            <tr id="{{ formset.empty_form.receipt.auto_id|get_id }}">
                                                <td>
                                                    <input type="hidden" id="{{ formset.empty_form.receipt.auto_id }}"
                                                           name="{{ formset.empty_form.receipt.html_name }}"
                                                           value="{{ receipt.id }}">
                                                    {{ formset.empty_form.service }}
                                                </td>
                                                <td>
                                                    {{ formset.empty_form.consumption }}
                                                </td>
                                                <td>
                                                    <select class="form-control serviceunit-name"
                                                            name="[0]serviceunit_name" disabled="">
                                                        <option value="">Ед. изм.</option>
                                                        <option value="0">asg.</option>
                                                    </select>

                                                </td>
                                                <td>
                                                    {{ formset.empty_form.price }}
                                                </td>
                                                <td>
                                                    {{ formset.empty_form.cost }}
                                                </td>
                                                <td>
                                                    <button type="button" onclick="delete_parent(this, 1)"
                                                            class="btn btn-default btn-sm form-row-remove-btn"
                                                            title="Удалить услугу"><i class="fa fa-trash"></i>
                                                    </button>
                                                </td>

                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <div class="form-group">
                                        <a href="{% url 'admin_panel:receipt_update' receipt.pk %}"
                                           class="btn btn-default">Отменить</a>
                                        <button type="submit" id="submit-button" class="btn btn-success">Сохранить
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Показания счетчиков</h3>
                            </div>

                            <div id="counters" data-pjax-container="" data-pjax-push-state="" data-pjax-timeout="1000">
                                <div id="w0" class="grid-view">
                                    <div class="box-body table-responsive no-padding">
                                        <table class="table table-bordered table-hover table-striped table-nowrap"
                                               id="datatable" style="width:99%">
                                            <thead>
                                            <tr>
                                                <th style="width: 125px; min-width: 125px">№</th>
                                                <th>Статус</th>
                                                <th style="width: 125px; min-width: 125px">Дата</th>
                                                <th style="width: 125px; min-width: 125px">Месяц</th>
                                                <th style="min-width: 200px">Дом</th>
                                                <th style="min-width: 160px">Секция</th>
                                                <th style="width: 110px; min-width: 110px">№ квартиры</th>
                                                <th>Счетчик</th>
                                                <th style="width: 90px; min-width: 90px">Показания</th>
                                                <th style="width: 90px; min-width: 90px">Ед. изм.</th>
                                                <th style="display:none"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for object in meter_data_qs %}
                                                <tr data-href="{% url 'admin_panel:meter_data_list_by_flat' %}?flat_id={{ object.flat.pk }}"
                                                    style="cursor: pointer;">
                                                    <td data-filter="{{ object.number }}">{{ object.number }}</td>
                                                    <td data-filter="{% if object.status == 'NEW' %}Новое{% elif object.status == 'ACCOUNTED' %}Учтено{% elif object.status == 'ACCOUNTED_AND_PAID' %}Учтено и оплачено{% elif object.status == 'NULL' %}Нулевое{% endif %}|||">
                                                        {% if object.status == 'NEW' %}
                                                            <small class="label label-warning">Новое</small>
                                                        {% elif object.status == 'ACCOUNTED' %}
                                                            <small class="label label-primary">Учтено</small>
                                                        {% elif object.status == 'ACCOUNTED_AND_PAID' %}
                                                            <small class="label label-success">Учтено и оплачено</small>
                                                        {% elif object.status == 'NULL' %}
                                                            <small class="label label-danger">Нулевое</small>
                                                        {% else %}
                                                            ERROR
                                                        {% endif %}
                                                    </td>
                                                    <td data-order="{{ object.created|date:"U" }}"
                                                        data-filter="{{ object.created }}">{{ object.created }}</td>
                                                    <td data-filter="{{ object.created|date:'F Y' }}">{{ object.created|date:'F Y' }}</td>
                                                    <td data-filter="{{ object.flat.house }}|||">{{ object.flat.house }}</td>
                                                    <td data-filter="{{ object.flat.section }}|||">{{ object.flat.section }}</td>
                                                    <td data-filter="{{ object.flat }}">{{ object.flat }}</td>
                                                    <td data-filter="{{ object.service }}|||">{{ object.service }}</td>

                                                    <td style="background-color: #DFD5; font-weight: normal"
                                                        data-filter="{{ object.amount }}">{{ object.amount }}</td>
                                                    <td style="background-color: #DFD5; font-weight: normal"
                                                        data-filter="{{ object.service.measure.name }}">{{ object.service.measure.name }}</td>
                                                    <td style="display:none"
                                                        data-filter="{{ object.flat.id }}">{{ object.flat.id }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="box-footer clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </section>
    </div>

{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/fixedheader/3.1.9/js/dataTables.fixedHeader.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.25/api/fnFilterClear.js"></script>
    <script src="https://cdn.datatables.net/fixedcolumns/3.3.3/js/dataTables.fixedColumns.min.js"></script>

    <script>
        $(document).ready(function () {
            const select_house = $('select[name=form1-house]')
            const select_section = $('select[name=form1-section]')
            const select_flat = $('select[name=form1-flat]')
            const select_service = $('select[name=form1-service]')
            const select_status = $('select[name=form1-status]')
            const select_account = $('select[name=form1-account]')
            const select_tariff = $('select[name=form1-tariff]')

            select_status.select2({
                theme: 'bootstrap',
            })
            select_service.select2({
                theme: 'bootstrap',
            })
            select_tariff.select2({
                theme: 'bootstrap',
            })
            select_house.select2({
                theme: 'bootstrap',
                ajax: {
                    url: function (params) {
                        return '/admin_panel/api/houses/';
                    },
                    data: function (params) {
                        // Query parameters will be ?search=[term]&type=public
                        return {
                            search: params.term,
                            type: 'public'
                        };
                    }
                }
            });
            select_section.select2({
                theme: 'bootstrap',
                ajax: {
                    url: function (params) {
                        return '/admin_panel/api/sections/' + select_house.val();
                    },
                    data: function (params) {
                        // Query parameters will be ?search=[term]&type=public
                        return {
                            search: params.term,
                            type: 'public'
                        };
                    }
                }
            });
            select_flat.select2({
                theme: 'bootstrap',
                ajax: {
                    url: function (params) {
                        return '{% url 'admin_panel:api_flats' %}';
                    },
                    data: function (params) {
                        // Query parameters will be ?search=[term]&type=public
                        return {
                            search: params.term,
                            section_id: select_section.val(),
                        };
                    }
                }
            });
            select_account.select2({
                theme: 'bootstrap',
                ajax: {
                    url: function (params) {
                        return '{% url 'admin_panel:api_accounts' %}';
                    },
                    data: function (params) {
                        // Query parameters will be ?search=[term]&type=public
                        return {
                            search: params.term,
                            flat_id: select_flat.val(),
                        };
                    }
                }
            })

            select_house.on("select2:select", function () {
                select_section.select2("val", "0")
                select_flat.select2("val", '0')
                select_account.select2("val", 0)
                change_user_data({to_default: true})
                datatable_auto_flat_filter(datatable, select_flat)
            });
            select_section.on("select2:select", function () {
                select_flat.select2("val", '0')
                select_account.select2("val", 0)
                change_user_data({to_default: true})
                datatable_auto_flat_filter(datatable, select_flat)
            });
            select_flat.on("select2:select", function () {
                select_account.select2("val", 0)
                $.ajax({
                    url: '{% url 'admin_panel:api_accounts' %}',
                    data: {
                        flat_id: select_flat.val()
                    },
                    success: function (data) {
                        let account_new_id = data.results[0].id;
                        let account_new_text = data.results[0].text;
                        let newAccountOption = new Option(account_new_text, account_new_id, false, false);
                        select_account.append(newAccountOption).val(account_new_id).trigger('change')
                    },
                })
                $.ajax({
                    url: '{% url 'admin_panel:api_get_owner' %}',
                    data: {
                        flat_id: select_flat.val()
                    },
                    success: function (data) {
                        let owner_id = data.results.id;
                        let owner_name = data.results.name;
                        let owner_phone = data.results.phone;
                        change_user_data(owner_id, owner_name, owner_phone);
                    },
                    error: function () {
                        change_user_data('')
                    }
                })
                datatable_auto_flat_filter(datatable, select_flat)
            })

            const datatable = make_datatable()

            {#---remove disabled before submit---#}
            $('#submit-button').click(function () {
                select_account.removeAttr('disabled')
            });
            $('#add-more').click(function () {
                add_formset_form();
            })
            $('#add-meters-data').click(function () {
                add_meters_data(select_flat);
            })

            $('.set-tariff-services').click(function () {
                const timer = ms => new Promise(res => setTimeout(res, ms))
                $.ajax({
                    url: '{% url 'admin_panel:api_get_services_from_tariff' %}',
                    data: {
                        tariff_id: select_tariff.val()
                    },
                    success: function (data) {
                        $('#formset-rows tr').remove()
                        let api_results = data.results;
                        for (let i = 0; i < api_results.length; i++) {
                            let price = api_results[i].fields.price
                            let service = api_results[i].fields.service
                            f(price, service)

                            async function f(price, service) {
                                add_formset_form(data = {'price': price, 'service': service})
                                await timer(3000);
                            }
                        }
                    },
                    error: function (data) {
                        console.log(data)
                    }
                })
                {#add_formset_form(counter, form_counters);#}
            })

            {% if receipt != None %}
                let data_house = {
                    id: {{ receipt.account.account_flat.house.id }},
                    text: '{{ receipt.account.account_flat.house }}'
                };
                let data_section = {
                    id: {{ receipt.account.account_flat.section.id }},
                    text: '{{ receipt.account.account_flat.section }}'
                };
                let data_flat = {
                    id: {{ receipt.account.account_flat.id }},
                    text: '{{ receipt.account.account_flat }}'
                };
                let newOptionHouse = new Option(data_house.text, data_house.id, false, false);
                select_house.append(newOptionHouse).val(data_house.id).trigger('change')
                let newOptionSection = new Option(data_section.text, data_section.id, false, false);
                select_section.append(newOptionSection).val(data_section.id).trigger('change')
                let newOptionFlat = new Option(data_flat.text, data_flat.id, false, false);
                select_flat.append(newOptionFlat).val(data_flat.id).trigger('change')
                {% if owner != None %}
                    let owner_id = '{{ owner.id }}';
                    let owner_name = '{{ owner.full_name }}';
                    let owner_phone = '{{ owner.phone }}';
                    change_user_data(owner_id, owner_name, owner_phone);
                {% endif %}
            {% endif %}
        });

        {#---Activate datepicker---#}
        !function (a) {
            a.fn.datepicker.dates.ru = {
                days: ["Воскресенье", "Понедельник", "Вторник", "Среда", "Четверг", "Пятница", "Суббота"],
                daysShort: ["Вск", "Пнд", "Втр", "Срд", "Чтв", "Птн", "Суб"],
                daysMin: ["Вс", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб"],
                months: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
                monthsShort: ["Янв", "Фев", "Мар", "Апр", "Май", "Июн", "Июл", "Авг", "Сен", "Окт", "Ноя", "Дек"],
                today: "Сегодня",
                clear: "Очистить",
                format: "dd.mm.yyyy",
                weekStart: 1,
                monthsTitle: "Месяцы"
            }
        }(jQuery);
        $('#id_form1-created').datepicker({
            format: 'yyyy-mm-dd',
            startDate: '-100y',
            endDate: '+0d',
            language: 'ru'
        });
        $('#id_form1-period_start').datepicker({
            format: 'yyyy-mm-dd',
            startDate: '-100y',
            endDate: '+0d',
            language: 'ru'
        });
        $('#id_form1-period_end').datepicker({
            format: 'yyyy-mm-dd',
            startDate: '-100y',
            endDate: '+0d',
            language: 'ru'
        });

        let counter = $('#id_formset-TOTAL_FORMS')
        let form_counters = counter.val()
        let form_initial = $('#id_formset-INITIAL_FORMS').val()

        for (let i = 0; i < form_counters; i++) {
            let form_price = $('#id_formset-' + i + '-price')
            let form_consumption = $('#id_formset-' + i + '-consumption')
            let form_cost = $('#id_formset-' + i + '-cost')
            add_event_listeners_to_formset_forms(form_consumption, form_price, form_cost);
        }

        function delete_parent(elem, level) {
            let form_set = elem.parentElement;
            for (let i = 0; i < level; i++) {
                form_set = form_set.parentElement;
            }
            let form_id = $(form_set).attr('id')
            $('#can-delete-list').append('<input type="hidden" value="on" name="formset-' + form_id + '-DELETE" id="id_formset-' + form_id + '-DELETE">');

            form_set.remove()
            update_price_total()
        }

        function change_user_data(owner_id = null, owner_name = null, owner_phone = null, to_default = null) {
            let user_field = $('#user-name')
            let user_phone_field = $('#user-phone')

            if (to_default !== null) {
                user_field.text('-')
                user_field.attr('href', '')
                user_phone_field.attr('href', '')
            } else {
                let user_url = "{% url 'admin_panel:user_detail' 9999999 %}";
                user_url = user_url.replace('9999999', owner_id)

                user_field.text(owner_name)
                user_field.attr('href', user_url)
                user_phone_field.text(owner_phone)
                user_phone_field.attr('href', 'tel:' + owner_phone)
            }
        }

        function make_datatable() {
            return $('#datatable').DataTable({
                order: [[2, 'desc']],
                orderCellsTop: true,
                fixedHeader: true,
                sDom: '<"top"i>rt<"bottom"lp><"clear">',
                lengthChange: false,
                bInfo: false,
                pageLength: 10,
                drawCallback: add_links_to_rows,
                columns: [
                    null,
                    {"className": "dt-center"},
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    {"width": "6%", "className": "dt-center"},
                    {"width": "6%", "className": "dt-center"},
                    null,
                ],
            });
        }

        function add_links_to_rows() {
            $('tr[data-href]').on("click", function () {
                document.location = $(this).data('href');
            });
        }

        function datatable_auto_flat_filter(datatable, select_flat) {
            let select_flat_val = select_flat.val()
            if (select_flat_val === '0') {
                datatable.search('')
                    .columns().search('')
                    .draw();
            } else {
                datatable.column(10).search(select_flat_val, false, true).draw();
            }
        }

        function add_event_listeners_to_formset_forms(form_consumption, form_price, form_cost) {
            form_price.change(function () {
                if (form_price.val() !== '' && form_consumption.val() !== '') {
                    form_cost.val((form_price.val() * form_consumption.val()).toFixed(2))
                    update_price_total()
                }
            })
            form_consumption.change(function () {
                if (form_price.val() !== '' && form_consumption.val() !== '') {
                    form_cost.val((form_price.val() * form_consumption.val()).toFixed(2))
                    update_price_total()
                }
            })
            form_cost.change(function () {
                update_price_total()
            })
        }

        function add_formset_form(data = null) {
            form_counters++
            $('#formset-rows').append($('#formset-empty-form').html().replace(/__prefix__/g, (form_counters - 1)));
            counter.val(form_counters);

            let form_service = $('#id_formset-' + (form_counters - 1) + '-service')
            let form_price = $('#id_formset-' + (form_counters - 1) + '-price')
            let form_consumption = $('#id_formset-' + (form_counters - 1) + '-consumption')
            let form_cost = $('#id_formset-' + (form_counters - 1) + '-cost')

            form_service.select2({
                theme: 'bootstrap',
                width: 900
            });

            if (data !== null) {
                form_service.val(data.service).trigger('change')
                form_price.val(data.price)
            }
            add_event_listeners_to_formset_forms(form_consumption, form_price, form_cost);
        }

        function add_meters_data(flat_id) {
            let consumption_list = $('#formset-rows tr input[name$=consumption]')
            for (let i = 0; i < consumption_list.length; i++) {
                let current_id = $(consumption_list[i]).attr('id').split('-')[1]
                let current_service = $('#id_formset-' + current_id + '-service')

                $.ajax({
                    url: '{% url 'admin_panel:api_get_meter_data' %}',
                    data: {
                        service_id: current_service.val(),
                        flat_id: flat_id.val()
                    },
                    success: function (data) {
                        let consumption_int = data.results
                        if (consumption_int !== 'none') {
                            $(consumption_list[i]).val(consumption_int)

                            let form_price = $('#id_formset-' + current_id + '-price')
                            let form_consumption = $('#id_formset-' + current_id + '-consumption')
                            let form_cost = $('#id_formset-' + current_id + '-cost')

                            if (form_price.val() !== '' && form_consumption.val() !== '') {
                                form_cost.val((form_price.val() * form_consumption.val()).toFixed(2))
                                update_price_total()
                            }
                        }
                    },
                    error: function (data) {
                        console.log(data)
                    }
                })
            }
        }

        function update_price_total() {
            let total_summ = 0.00
            let price_total = $('#price-total')
            let price_elements = $('#formset-rows tr input[name$=cost]')
            price_elements.each(function (i, el) {
                if (isNaN(parseFloat($(el).val()))) {
                } else {
                    total_summ = parseFloat(total_summ) + parseFloat($(el).val())
                }
            });
            price_total.text(total_summ.toFixed(2))
        }
    </script>
    {% include 'admin_panel/elements/messages.html' %}>
{% endblock %}
