{% extends 'admin_panel/elements/base.html' %}
{% load static %}
{% block nav_item_statistics %}active{% endblock %}

{% block title %}Cтатистика{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>Статистика </h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <h2 class="page-header">В вашем обслуживании</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="small-box bg-primary">
                        <div class="inner">
                            <h3>{{ houses_count }}</h3>
                            <p>Домов</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-building"></i>
                        </div>
                        <a href="{% url 'admin_panel:house_list' %}" class="small-box-footer">
                            Перейти в дома <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>{{ active_owners_count }}</h3>
                            <p>Активных владельцев</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-users"></i>
                        </div>
                        <a href="{% url 'admin_panel:user_list' %}" class="small-box-footer">
                            Перейти к владельцам <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3>{{ call_requests_in_work_count }}</h3>
                            <p>Заявок мастера в работе</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-wrench"></i>
                        </div>
                        <a href="{% url 'admin_panel:call_request_list' %}" class="small-box-footer">
                            Перейти в заявки <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="small-box bg-primary">
                        <div class="inner">
                            <h3>{{ flats_count }}</h3>
                            <p>Квартир</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-key"></i>
                        </div>
                        <a href="{% url 'admin_panel:flat_list' %}" class="small-box-footer">
                            Перейти в квартиры <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>{{ accounts_count }}</h3>
                            <p>Лицевых счетов</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-child"></i>
                        </div>
                        <a href="{% url 'admin_panel:account_list' %}" class="small-box-footer">
                            Перейти к счетам <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3>{{ call_requests_new_count }}</h3>
                            <p>Новых заявок мастера</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-user-plus"></i>
                        </div>
                        <a href="{% url 'admin_panel:call_request_list' %}" class="small-box-footer">
                            Перейти в заявки <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-7 col-xs-12">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">График погашения квитанций, грн</h3>
                        </div>
                        <div class="box-body">
                            <div class="chart">
                                <canvas id="barChart" style="height: 201px;"></canvas>
                                <div id="barChart-legend" class="text-center"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-red"><i class="fa fa-money"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Задолженность по счетам, грн</span>
                            <span id="account-debt" class="info-box-number">000 0000.00</span>
                        </div>
                    </div>
                    <div class="info-box">
                        <span class="info-box-icon bg-blue"><i class="fa fa-money"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Баланс по счетам, грн</span>
                            <span id="account-balance" class="info-box-number">000 000.00</span>
                        </div>
                    </div>
                    <div class="info-box">
                        <span class="info-box-icon bg-green"><i class="fa fa-money"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Состояние кассы, грн</span>
                            <span id="cash-box-balance" class="info-box-number">000 000.00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">График приходов и расходов по кассе, грн</h3>
                        </div>
                        <div class="box-body">
                            <div class="chart">
                                <canvas id="barChart2" style="height: 230px;"></canvas>
                                <div id="barChart2-legend" class="text-center"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
{% endblock %}

{% block scripts %}
    <script>jQuery(function ($) {
        $(function () {

            'use strict';

            //-------------
            //- BAR CHART -
            //-------------

            var areaChartData = {
                labels: ["\u044f\u043d\u0432., 2021", "\u0444\u0435\u0432\u0440., 2021", "\u043c\u0430\u0440\u0442, 2021", "\u0430\u043f\u0440., 2021", "\u043c\u0430\u0439, 2021", "\u0438\u044e\u043d\u044c, 2021", "\u0438\u044e\u043b\u044c, 2021", "\u0430\u0432\u0433., 2021", "\u0441\u0435\u043d\u0442., 2021", "\u043e\u043a\u0442., 2021", "\u043d\u043e\u044f\u0431., 2021", "\u0434\u0435\u043a., 2021"],
                datasets: [
                    {
                        label: 'Задолженность',
                        fillColor: 'rgba(221, 75, 57, 1)',
                        strokeColor: 'rgba(221, 75, 57, 1)',
                        //pointColor          : 'rgba(210, 214, 222, 1)',
                        //pointStrokeColor    : '#c1c7d1',
                        //pointHighlightFill  : '#fff',
                        //pointHighlightStroke: 'rgba(220,220,220,1)',
                        data: [0, 0, 0, 0, 26110, 1000, 0, 0, 0, 0, 0, 0]
                    },
                    {
                        label: 'Погашение задолженности',
                        fillColor: 'rgba(0, 166, 90, 1)',
                        strokeColor: 'rgba(0, 166, 90, 1)',
                        //pointColor          : '#3b8bba',
                        //pointStrokeColor    : 'rgba(60,141,188,1)',
                        //pointHighlightFill  : '#fff',
                        //pointHighlightStroke: 'rgba(60,141,188,1)',
                        data: [0, 0, 62997.5, 0, 32165.4000000000014551915228366851806640625, 9978.079999999999927240423858165740966796875, 0, 0, 0, 0, 0, 0]
                    }
                ]
            };

            var barChartCanvas = $('#barChart').get(0).getContext('2d');
            var barChart = new Chart(barChartCanvas);
            var barChartData = areaChartData;
//        barChartData.datasets[1].fillColor   = '#00a65a';
//        barChartData.datasets[1].strokeColor = '#00a65a';
//        barChartData.datasets[1].pointColor  = '#00a65a';
            var barChartOptions = {
                //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
                scaleBeginAtZero: true,
                //Boolean - Whether grid lines are shown across the chart
                scaleShowGridLines: true,
                //String - Colour of the grid lines
                scaleGridLineColor: 'rgba(0,0,0,.05)',
                //Number - Width of the grid lines
                scaleGridLineWidth: 1,
                //Boolean - Whether to show horizontal lines (except X axis)
                scaleShowHorizontalLines: true,
                //Boolean - Whether to show vertical lines (except Y axis)
                scaleShowVerticalLines: true,
                //Boolean - If there is a stroke on each bar
                barShowStroke: true,
                //Number - Pixel width of the bar stroke
                barStrokeWidth: 2,
                //Number - Spacing between each of the X value sets
                barValueSpacing: 5,
                //Number - Spacing between data sets within X values
                barDatasetSpacing: 1,
                //String - A legend template
                legendTemplate: '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<datasets.length; i++)&#123;%><li><span style="background-color:<%=datasets[i].fillColor%>"></span><%if(datasets[i].label)&#123;%><%=datasets[i].label%><%}%></li><%}%></ul>',
                //Boolean - whether to make the chart responsive
                responsive: true,
                maintainAspectRatio: true
            };

            barChartOptions.datasetFill = false;
            var myBarChart = barChart.Bar(barChartData, barChartOptions);
            document.getElementById('barChart-legend').innerHTML = myBarChart.generateLegend();

            //-----------------
            //- END BAR CHART -
            //-----------------

            //-------------
            //- BAR CHART 2 -
            //-------------

            var areaChartData = {
                labels: ["\u044f\u043d\u0432., 2021", "\u0444\u0435\u0432\u0440., 2021", "\u043c\u0430\u0440\u0442, 2021", "\u0430\u043f\u0440., 2021", "\u043c\u0430\u0439, 2021", "\u0438\u044e\u043d\u044c, 2021", "\u0438\u044e\u043b\u044c, 2021", "\u0430\u0432\u0433., 2021", "\u0441\u0435\u043d\u0442., 2021", "\u043e\u043a\u0442., 2021", "\u043d\u043e\u044f\u0431., 2021", "\u0434\u0435\u043a., 2021"],
                datasets: [
                    {

                        label: 'Приход',
                        fillColor: 'rgba(0, 166, 90, 1)',
                        strokeColor: 'rgba(0, 166, 90, 1)',
                        //pointColor          : 'rgba(210, 214, 222, 1)',
                        //pointStrokeColor    : '#c1c7d1',
                        //pointHighlightFill  : '#fff',
                        //pointHighlightStroke: 'rgba(220,220,220,1)',
                        data: ["25000.00", "25000.00", "362.00", "500.00", "3600.00", "89088.00", null, null, null, null, null, null]
                    },
                    {
                        label: 'Расход',
                        fillColor: 'rgba(221, 75, 57, 1)',
                        strokeColor: 'rgba(221, 75, 57, 1)',
                        //pointColor          : '#3b8bba',
                        //pointStrokeColor    : 'rgba(60,141,188,1)',
                        //pointHighlightFill  : '#fff',
                        //pointHighlightStroke: 'rgba(60,141,188,1)',
                        data: [null, null, "15.00", null, null, null, null, null, null, null, null, null]
                    }
                ]
            };

            var barChart2Canvas = $('#barChart2').get(0).getContext('2d');
            var barChart2 = new Chart(barChart2Canvas);
            var barChart2Data = areaChartData;
//        barChart2Data.datasets[1].fillColor   = '#00a65a';
//        barChart2Data.datasets[1].strokeColor = '#00a65a';
//        barChart2Data.datasets[1].pointColor  = '#00a65a';
            var barChart2Options = {
                //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
                scaleBeginAtZero: true,
                //Boolean - Whether grid lines are shown across the chart
                scaleShowGridLines: true,
                //String - Colour of the grid lines
                scaleGridLineColor: 'rgba(0,0,0,.05)',
                //Number - Width of the grid lines
                scaleGridLineWidth: 1,
                //Boolean - Whether to show horizontal lines (except X axis)
                scaleShowHorizontalLines: true,
                //Boolean - Whether to show vertical lines (except Y axis)
                scaleShowVerticalLines: true,
                //Boolean - If there is a stroke on each bar
                barShowStroke: true,
                //Number - Pixel width of the bar stroke
                barStrokeWidth: 2,
                //Number - Spacing between each of the X value sets
                barValueSpacing: 5,
                //Number - Spacing between data sets within X values
                barDatasetSpacing: 1,
                //String - A legend template
                legendTemplate: '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<datasets.length; i++)&#123;%><li><span style="background-color:<%=datasets[i].fillColor%>"></span><%if(datasets[i].label)&#123;%><%=datasets[i].label%><%}%></li><%}%></ul>',
                //Boolean - whether to make the chart responsive
                responsive: true,
                maintainAspectRatio: true
            };

            barChart2Options.datasetFill = false;
            var myBarChart2 = barChart2.Bar(barChart2Data, barChart2Options);
            document.getElementById('barChart2-legend').innerHTML = myBarChart2.generateLegend();

            //-----------------
            //- END BAR CHART 2 -
            //-----------------
        });

    });
    set_statistics_data()

    function set_statistics_data() {
        $.ajax({
            url: '{% url 'admin_panel:api_get_statistics' %}',
            dataType: 'json',
            success: function (data) {
                console.log(data.results.cash_box_balance)
                $('#account-debt').text(data.results.account_debt)
                $('#account-balance').text(data.results.account_balance)
                $('#cash-box-balance').text(data.results.cash_box_balance)
            }
        })
    }
    </script>

{% endblock %}

