{% extends 'admin_panel/elements/base.html' %}
{% load static %}
{% block nav_item_statistics %}active{% endblock %}

{% block title %}Cтатистика{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>Статистика </h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <h2 class="page-header">В вашем обслуживании</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="small-box bg-primary">
                        <div class="inner">
                            <h3>{{ houses_count }}</h3>
                            <p>Домов</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-building"></i>
                        </div>
                        <a href="{% url 'admin_panel:house_list' %}" class="small-box-footer">
                            Перейти в дома <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>{{ active_owners_count }}</h3>
                            <p>Активных владельцев</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-users"></i>
                        </div>
                        <a href="{% url 'admin_panel:user_list' %}" class="small-box-footer">
                            Перейти к владельцам <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3>{{ call_requests_in_work_count }}</h3>
                            <p>Заявок мастера в работе</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-wrench"></i>
                        </div>
                        <a href="{% url 'admin_panel:call_request_list' %}" class="small-box-footer">
                            Перейти в заявки <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="small-box bg-primary">
                        <div class="inner">
                            <h3>{{ flats_count }}</h3>
                            <p>Квартир</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-key"></i>
                        </div>
                        <a href="{% url 'admin_panel:flat_list' %}" class="small-box-footer">
                            Перейти в квартиры <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>{{ accounts_count }}</h3>
                            <p>Лицевых счетов</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-child"></i>
                        </div>
                        <a href="{% url 'admin_panel:account_list' %}" class="small-box-footer">
                            Перейти к счетам <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3>{{ call_requests_new_count }}</h3>
                            <p>Новых заявок мастера</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-user-plus"></i>
                        </div>
                        <a href="{% url 'admin_panel:call_request_list' %}" class="small-box-footer">
                            Перейти в заявки <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-7 col-xs-12">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">График погашения квитанций, грн</h3>
                        </div>
                        <div class="box-body">
                            <div class="chart">
                                <canvas id="barChart" style="height: 201px;"></canvas>
                                <div id="barChart-legend" class="text-center"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-red"><i class="fa fa-money"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Задолженность по счетам, грн</span>
                            <span id="account-debt" class="info-box-number">000 0000.00</span>
                        </div>
                    </div>
                    <div class="info-box">
                        <span class="info-box-icon bg-blue"><i class="fa fa-money"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Баланс по счетам, грн</span>
                            <span id="account-balance" class="info-box-number">000 000.00</span>
                        </div>
                    </div>
                    <div class="info-box">
                        <span class="info-box-icon bg-green"><i class="fa fa-money"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Состояние кассы, грн</span>
                            <span id="cash-box-balance" class="info-box-number">000 000.00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">График приходов и расходов по кассе, грн</h3>
                        </div>
                        <div class="box-body">
                            <div class="chart">
                                <canvas id="barChart2" style="height: 230px;"></canvas>
                                <div id="barChart2-legend" class="text-center"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
            integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <script>jQuery(function ($) {
        $(function () {
            let bar_chart1_labels = []
            var bar_chart1_data_debt = []
            var bar_chart1_data_income = []
            var bar_chart1_source = JSON.parse('{{ receipt_data|safe }}');

            for (let i = 0; i < bar_chart1_source.length; i++) {
                bar_chart1_labels.push(bar_chart1_source[i].month)
                bar_chart1_data_debt.push(bar_chart1_source[i].debt)
                bar_chart1_data_income.push(bar_chart1_source[i].income)
            }

            function capitalizeFirstLetter(string) {
                return string.charAt(0).toUpperCase() + string.slice(1);
            }

            const date_options = {month: 'short', year: 'numeric'};
            for (let i = 0; i < bar_chart1_labels.length; i++) {
                let momentDate = moment(bar_chart1_labels[i], 'YYYY-MM-DD');
                let jsDate = momentDate.toDate();
                bar_chart1_labels[i] = capitalizeFirstLetter(jsDate.toLocaleDateString("ru-RU", date_options))
            }


            var ctx = document.getElementById("barChart").getContext("2d");

            var data = {
                labels: bar_chart1_labels,
                datasets: [{
                    label: "Задолженность, грн",
                    backgroundColor: "red",
                    data: bar_chart1_data_debt
                },
                    {
                        label: "Погашение, грн",
                        backgroundColor: "green",
                        data: bar_chart1_data_income
                    }
                ]
            };

            var myBarChart = new Chart(ctx, {
                type: 'bar',
                data: data,
                options: {
                    barValueSpacing: 20,
                    scales: {
                        yAxes: [{
                            ticks: {
                                min: 0,
                            }
                        }]
                    }
                }
            });
        })
    })

    jQuery(function ($) {
        $(function () {
            let bar_chart2_labels = []
            var bar_chart2_data_debt = []
            var bar_chart2_data_income = []
            var bar_chart2_source = JSON.parse('{{ transactions_data|safe }}');

            for (let i = 0; i < bar_chart2_source.length; i++) {
                bar_chart2_labels.push(bar_chart2_source[i].month)
                bar_chart2_data_debt.push(bar_chart2_source[i].expense)
                bar_chart2_data_income.push(bar_chart2_source[i].income)
            }

            function capitalizeFirstLetter(string) {
                return string.charAt(0).toUpperCase() + string.slice(1);
            }

            const date_options = {month: 'short', year: 'numeric'};
            for (let i = 0; i < bar_chart2_labels.length; i++) {
                let momentDate = moment(bar_chart2_labels[i], 'YYYY-MM-DD');
                let jsDate = momentDate.toDate();
                bar_chart2_labels[i] = capitalizeFirstLetter(jsDate.toLocaleDateString("ru-RU", date_options))
            }


            var ctx = document.getElementById("barChart2").getContext("2d");

            var data = {
                labels: bar_chart2_labels,
                datasets: [{
                    label: "Расход из кассы, грн",
                    backgroundColor: "red",
                    data: bar_chart2_data_debt
                },
                    {
                        label: "Приход в кассу, грн",
                        backgroundColor: "green",
                        data: bar_chart2_data_income
                    }
                ]
            };

            var myBarChart = new Chart(ctx, {
                type: 'bar',
                data: data,
                options: {
                    barValueSpacing: 20,
                    scales: {
                        yAxes: [{
                            ticks: {
                                min: 0,
                            }
                        }]
                    }
                }
            });
        })
    })

    set_statistics_data()

    function set_statistics_data() {
        $.ajax({
            url: '{% url 'admin_panel:api_get_statistics' %}',
            dataType: 'json',
            success: function (data) {
                console.log(data.results.cash_box_balance)
                $('#account-debt').text(data.results.account_debt)
                $('#account-balance').text(data.results.account_balance)
                $('#cash-box-balance').text(data.results.cash_box_balance)
            }
        })
    }
    </script>

{% endblock %}
