{% extends 'admin_panel/elements/base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}
{% block nav_item_system_control %}active menu-open{% endblock %}
{% block nav_item_system_services %}active{% endblock %}

{% block title %}Редактирование услуг{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="content-wrapper" style="min-height: 867px;">
        <section class="content-header">
            <h1>Редактирование услуг</h1>
        </section>

        <section class="content">

            <div class="box">
                <div class="box-body">
                    <form method="post">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-xs-12 col-lg-7">
                                <div class="nav-tabs-custom">

                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#tab_service" data-toggle="tab"
                                                              aria-expanded="true">Услуги</a></li>
                                        <li class=""><a href="#tab_measures" data-toggle="tab"
                                                        aria-expanded="false">Единицы измерения</a></li>
                                    </ul>

                                    <div class="tab-content">

                                        <div class="tab-pane clearfix active" id="tab_service">
                                            <div id="form-service-rows">
                                                {{ formset2.management_form }}
                                                {% for form in formset2 %}
                                                    <div class="row form-service">

                                                        <div class="col-xs-12 col-sm-7">
                                                            {% for hidden in form.hidden_fields %}
                                                                {{ hidden }}
                                                            {% endfor %}

                                                            <div class="form-group">
                                                                {{ form.name.label_tag }}
                                                                {{ form.name }}
                                                            </div>

                                                        </div>
                                                        <div class="col-xs-12 col-sm-5">
                                                            <div class="form-group">
                                                                {{ form.measure.label_tag }}
                                                                <div class="input-group">
                                                                    {{ form.measure }}
                                                                    <span class="input-group-btn">
                                                                        {% if form.instance %}
                                                                            <a href="{% url 'admin_panel:delete_service' form.instance.id %}"
                                                                               class="btn btn-default form-row-remove-btn"
                                                                               id="service-remove-{{ form.instance.id }}"
                                                                               onClick="delete_object(event)">
                                                                                 <i class="fa fa-trash"></i></a>
                                                                        {% else %}
                                                                            <a href="#!"
                                                                               onClick="delete_parent(this, 4)"
                                                                               class="btn btn-default form-row-remove-btn">
                                                                                    <i class="fa fa-trash"></i></a>
                                                                        {% endif %}
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12">
                                                            <div class="custom-control custom-checkbox">
                                                                {{ form.is_shown|as_crispy_field }}
                                                            </div>
                                                            <div style="margin-bottom: 28px;"></div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>

                                            <div id="form-service-empty-form" style="display: none;">
                                                <div class="row form-service">

                                                    <div class="col-xs-12 col-sm-7">
                                                        <div class="form-group">
                                                            {{ formset2.empty_form.name.label_tag }}
                                                            {{ formset2.empty_form.name }}
                                                        </div>

                                                    </div>
                                                    <div class="col-xs-12 col-sm-5">
                                                        <div class="form-group">
                                                            {{ formset2.empty_form.measure.label_tag }}
                                                            <div class="input-group">
                                                                {{ formset2.empty_form.measure }}
                                                                <span class="input-group-btn">
                                                                    <button type="button" onclick="delete_parent(this, 4)"
                                                                            class="btn btn-default form-row-remove-btn"><i
                                                                            class="fa fa-trash"></i></button></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <div class="custom-control custom-checkbox">
                                                            {{ formset2.empty_form.is_shown|as_crispy_field }}
                                                        </div>
                                                        <div style="margin-bottom: 28px;"></div>
                                                    </div>
                                                </div>
                                            </div>


                                            <button type="button" id="add-more2"
                                                    class="btn btn-default btn-hover-change pull-left form-row-add-service-btn">
                                                Добавить
                                            </button>
                                        </div>

                                        <div class="tab-pane clearfix" id="tab_measures">
                                            <div id="form-measures-rows">
                                                {{ formset.management_form }}
                                                {% for form in formset %}
                                                    <div class="row form-measures">
                                                        {% for hidden in form.hidden_fields %}
                                                            {{ hidden }}
                                                        {% endfor %}
                                                        <div class="col-xs-12">
                                                            <div class="form-group">
                                                                {{ form.name.label_tag }}
                                                                <div class="input-group">
                                                                    {{ form.name }}
                                                                    <span class="input-group-btn">

                                                                        {% if form.instance %}
                                                                            <a href="{% url 'admin_panel:delete_measure' form.instance.id %}"
                                                                               class="btn btn-default form-row-remove-btn"
                                                                               id="measure-remove-{{ form.instance.id }}"
                                                                               onClick="delete_object(event)">
                                                                                 <i class="fa fa-trash"></i></a>
                                                                        {% else %}
                                                                            <a href="#!"
                                                                               onClick="delete_parent(this, 4)"
                                                                               class="btn btn-default form-row-remove-btn">
                                                                                    <i class="fa fa-trash"></i></a>
                                                                        {% endif %}

                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>

                                            <div id="form-measure-empty-form" style="display: none;">

                                                <div class="row form-measure">
                                                    <div class="col-xs-12">
                                                        <div class="form-group">
                                                            {{ formset.empty_form.name.label_tag }}
                                                            <div class="input-group">
                                                                {{ formset.empty_form.name }}
                                                                <span class="input-group-btn">
                                                                        <button type="button"
                                                                                onclick="delete_parent(this, 4)"
                                                                                class="btn btn-default form-row-remove-btn"
                                                                                no-delete-msg="Эта ед.изм. используется в услуге. Удаление невозможно.">
                                                                            <i class="fa fa-trash"></i>
                                                                        </button>
                                                                    </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <button type="button" id="add-more"
                                                    class="btn btn-default btn-hover-change pull-left form-row-add-serviceunit-btn">
                                                Добавить
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <div class="form-group">
                                    <a href="{% url 'admin_panel:system_services' %}"
                                       class="btn btn-default">Отменить</a>
                                    <button type="submit" class="btn btn-success">Сохранить</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </section>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            check_measures_for_delete()
        });

        let form_counters = $('#id_formset-TOTAL_FORMS').val()
        let form_initial = $('#id_formset-INITIAL_FORMS').val()
        $('#add-more').click(function () {
            form_counters++
            $('#form-measures-rows').append($('#form-measure-empty-form').html().replace(/__prefix__/g, (form_counters - 1)));
            $('#id_formset-TOTAL_FORMS').val(form_counters);
        })

        let form2_counters = $('#id_formset2-TOTAL_FORMS').val()
        let form2_initial = $('#id_formset2-INITIAL_FORMS').val()
        $('#add-more2').click(function () {
            form2_counters++
            $('#form-service-rows').append($('#form-service-empty-form').html().replace(/__prefix__/g, (form2_counters - 1)));
            $('#id_formset2-TOTAL_FORMS').val(form2_counters);
        })

        function delete_parent(elem, level) {
            let form_set = elem.parentElement;
            for (let i = 0; i < level; i++) {
                form_set = form_set.parentElement;
            }
            form_set.remove()
        }

        function delete_object(event) {
            if (window.confirm("Вы действительно хотете удалить данные?")) {
            } else {
                event.preventDefault();
            }
        }

        function check_measures_for_delete() {
            for (let i = 0; i < form_initial; i++) {
                let element = $('input[name=formset-' + i + '-id]')
                let id = element.val()
                send_ajax_measures(id, element)
            }
        }

        function send_ajax_measures(id, element) {
            let form_data = new FormData()

            form_data.append('csrfmiddlewaretoken', '{{ csrf_token }}')
            form_data.append('pk', id)

            $.ajax({
                type: 'post',
                url: '/admin_panel/system/services/check/measure/' + id + '/',
                enctype: 'multipart/form-data',
                data: form_data,
                success: function (data) {
                    if (data.result === 'cant_delete') {
                        $('#measure-remove-' + id + '').attr('class', 'btn btn-default form-row-remove-btn disabled');
                    }
                },
                error: function (response) {
                    console.log(response)
                },
                cache: false,
                contentType: false,
                processData: false,
            });
        }
    </script>
    {% include 'admin_panel/elements/messages.html' %}>
{% endblock %}
