{% extends 'admin_panel/elements/base.html' %}
{% load extra_tags %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}
{% block nav_item_transaction_list %}active{% endblock %}

{% block title %}Изменить ведомость{% endblock %}

{% block head %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link href="{% static 'admin_panel/css/select2-bootstrap4.css' %}" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
          integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
{% endblock %}

{% block content %}

    <div class="content-wrapper" style="min-height: 839px;">
        <section class="content-header">
            <h1>Изменить ведомость</h1>

            <ul class="breadcrumb">
                <li><a href="{% url 'admin_panel:home' %}"><i class="fa fa-home"></i> Главная</a></li>
                <li><a href="{% url 'admin_panel:transaction_list' %}">Платежи</a></li>
                <li class="active">Изменить ведомость</li>
            </ul>
        </section>

        <section class="content">


            <form method="post">
                {% csrf_token %}

                <div class="row">
                    <div class="col-xs-12 col-md-7 col-lg-6">
                        <div class="page-header-spec">
                            <div class="form-group field-accounttransaction-uid required">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        №
                                    </div>
                                    {{ form1.number }}
                                </div>
                            </div>
                            <span class="label-mid">от</span>
                            <div class="form-group">

                                <div id="accounttransaction-uid_date-kvdate" class="input-group date">
                                    <span class="input-group-addon kv-date-calendar" title="Выбрать дату"><i
                                            class="glyphicon glyphicon-calendar"></i></span>
                                    {{ form1.created }}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="box-body">

                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-sm-offset-6">
                                {{ form1.is_passed|as_crispy_field }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-6">

                                {% if form1.instance.transaction_type.type == 'INCOME' %}

                                    <div class="form-group">
                                        {{ form1.created_by|as_crispy_field }}
                                    </div>

                                    <div class="form-group">
                                        {{ form1.account|as_crispy_field }}
                                    </div>

                                {% endif %}

                                <div class="form-group">
                                    {{ form1.transaction_type|as_crispy_field }}
                                </div>

                                <div class="form-group">
                                    {{ form1.amount|as_crispy_field }}
                                </div>

                            </div>
                            <div class="col-xs-12 col-sm-6">

                                <div class="form-group">
                                    {{ form1.manager|as_crispy_field }}
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-right">
                                <div class="form-group">
                                    <a href="{% url 'admin_panel:transaction_income_create' %}"
                                       class="btn btn-default margin-bottom-15">Отменить</a>
                                    <input type="submit" class="btn btn-success margin-bottom-15" name="action_save"
                                           value="Сохранить"></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    {{ form1.description|as_crispy_field }}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </section>
    </div>

{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"
            integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        $(document).ready(function () {
            const select_created_by = $('select[name=form1-created_by]')
            const select_account = $('select[name=form1-account]')
            const select_transaction_type = $('select[name=form1-transaction_type]')
            const select_manager = $('select[name=form1-manager]')

            select_created_by.select2({
                theme: 'bootstrap',
            })
            select_account.select2({
                theme: 'bootstrap',
                ajax: {
                    url: function (params) {
                        return '{% url 'admin_panel:api_accounts' %}';
                    },
                    data: function (params) {
                        // Query parameters will be ?search=[term]&type=public
                        return {
                            search: params.term,
                            type: 'public',
                            user_id: select_created_by.val()
                        };
                    }
                }
            });
            select_transaction_type.select2({
                theme: 'bootstrap',
                ajax: {
                    url: function (params) {
                        return '{% url 'admin_panel:api_transaction_types' %}';
                    },
                    data: function (params) {
                        // Query parameters will be ?search=[term]&type=public
                        return {
                            search: params.term,
                            type: 'public',
                            trans_type: '{{ form1.instance.transaction_type.type }}'
                        };
                    }
                }
            });
            select_manager.select2({
                theme: 'bootstrap',
                ajax: {
                    url: function (params) {
                        return '{% url 'admin_panel:api_staff' %}';
                    },
                    data: function (params) {
                        // Query parameters will be ?search=[term]&type=public
                        return {
                            search: params.term,
                        };
                    }
                }
            });

            select_created_by.on("select2:select", function () {
                select_account.select2("val", 0)
            });

            !function (a) {
                a.fn.datepicker.dates.ru = {
                    days: ["Воскресенье", "Понедельник", "Вторник", "Среда", "Четверг", "Пятница", "Суббота"],
                    daysShort: ["Вск", "Пнд", "Втр", "Срд", "Чтв", "Птн", "Суб"],
                    daysMin: ["Вс", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб"],
                    months: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
                    monthsShort: ["Янв", "Фев", "Мар", "Апр", "Май", "Июн", "Июл", "Авг", "Сен", "Окт", "Ноя", "Дек"],
                    today: "Сегодня",
                    clear: "Очистить",
                    format: "dd.mm.yyyy",
                    weekStart: 1,
                    monthsTitle: "Месяцы"
                }
            }(jQuery);

            $('#id_form1-created').datepicker({
                format: 'yyyy-mm-dd',
                startDate: '-100y',
                endDate: '+0d',
                language: 'ru'
            });
        });
    </script>
    {% include 'admin_panel/elements/messages.html' %}>
{% endblock %}
