{% extends 'admin_panel/elements/base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}
{% block nav_item_user_list %}active{% endblock %}

{% block title %}Профиль владельца{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

    <div class="content-wrapper" style="min-height: 869px;">
        <section class="content-header">
            <h1>Профиль владельца</h1>

            <ul class="breadcrumb">
                <li><a href="{% url 'admin_panel:home' %}"><i class="fa fa-home"></i> Главная</a></li>
                <li><a href="{% url 'admin_panel:user_list' %}">Владельцы квартир</a></li>
                <li class="active">Профиль владельца</li>
            </ul>
        </section>

        <section class="content">

            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                    <div class="box-tools">
                        <a href="http://myhouse24.avada-media.ua/cabinet/?token=MGcK9zmWQOPegn-S_vG3MSIL_oPDjw3A"
                           target="_blank" class="btn btn-default btn-sm"><i class="fa fa-external-link"></i> Перейти в
                            кабинет</a>
                        <a href="{% url 'admin_panel:user_update' object.pk %}" class="btn btn-primary btn-sm">
                            <span class="hidden-xs">Редактировать профиль</span><i class="fa fa-pencil visible-xs"
                                                                                   aria-hidden="true"></i>
                        </a>
                    </div>
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="userAvatar">
                                {% if object.avatar %}
                                    <img class="img-circle img-responsive"
                                         style="width: 160px; height:160px; object-fit: cover;"
                                         src="{{ object.avatar.url }}" alt="error">
                                {% else %}
                                    <img class="img-circle img-responsive"
                                         style="width: 160px; height:160px; object-fit: cover;"
                                         src="{% static 'admin_panel/images/jpg/Image-not-found.jpg' %}" alt="error">
                                {% endif %}
                            </div>
                            <div class="table-responsive no-padding">
                                <table class="table table-bordered table-striped table-view">
                                    <tbody>
                                    <tr>
                                        <td>Статус</td>
                                        <td>
                                            {% if object.status == 'ACTIVE' %}
                                                <small class="label label-success">Активный</small>
                                            {% elif object.status == 'INACTIVE' %}
                                                <small class="label label-warning">Неактивный</small>
                                            {% elif object.status == 'DEACTIVATED' %}
                                                <small class="label label-danger">Деактивированный</small>
                                            {% else %}
                                                <small class="label label-danger">ОШИБКА!</small>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ID</td>
                                        <td>{{ object.user_id }}</td>
                                    </tr>
                                    <tr>
                                        <td>Фамилия</td>
                                        <td>{{ object.last_name }}</td>
                                    </tr>
                                    <tr>
                                        <td>Имя</td>
                                        <td>{{ object.first_name }}</td>
                                    </tr>
                                    <tr>
                                        <td>Отчество</td>
                                        <td>{{ object.patronymic }}</td>
                                    </tr>
                                    <tr>
                                        <td>Дата рождения</td>
                                        <td>{{ object.birthday }}</td>
                                    </tr>
                                    <tr>
                                        <td>О владельце (заметки)</td>
                                        <td>{{ object.description|safe }}</td>
                                    </tr>
                                    <tr>
                                        <td>Телефон</td>
                                        <td>
                                            {{ object.phone }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Viber</td>
                                        <td>{{ object.viber }}</td>
                                    </tr>
                                    <tr>
                                        <td>Telegram</td>
                                        <td>{{ object.telegram }}</td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td>
                                            <!--<a href="mailto:hehe@som.com">-->
                                            {{ object.email }}                                    <!--</a>-->
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

{% endblock %}

{% block scripts %}
    {% include 'admin_panel/elements/messages.html' %}>
{% endblock %}
