{% extends 'admin_panel/elements/base.html' %}
{% load i18n %}
{% load extra_tags %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}
{% block nav_item_user_list %}active{% endblock %}

{% block title %}Дома{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/fixedheader/3.1.9/css/fixedHeader.dataTables.min.css">
{% endblock %}

{% block content %}

    <div class="content-wrapper" style="min-height: 345px;">
        <section class="content-header">
            <h1>
                Владельцы квартир </h1>

            <ul class="breadcrumb">
                <li><a href="{% url 'admin_panel:home' %}"><i class="fa fa-home"></i> Главная</a></li>
                <li class="active">Владельцы квартир</li>
            </ul>
        </section>

        <section class="content">

            <div class="row">
                <!--<div class="col-xs-12 col-sm-6">-->
                <!--<h2 class="page-header">Владельцы квартир</h2>-->
                <!--</div>-->
                <div class="col-xs-12">
                    <div class="btn-group pull-right margin-bottom">
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            Выберите действие <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'admin_panel:user_create' %}">Добавить владельца квартиры</a></li>
                            <li><a href="/admin/message/create?MessageAddress%5Buser_has_debt%5D=1">Отправить сообщение
                                должникам</a></li>
                            <li><a href="/admin/user/invite">Отправить приглашение</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title"></h3>
                            <div class="box-tools">
                                <a href="{% url 'admin_panel:house_list' %}" class="btn btn-default btn-sm">
                                    <span class="hidden-xs">Очистить</span><i class="fa fa-eraser visible-xs"
                                                                              aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>

                        <div class="table-responsive" style="padding:10px">
                            <table id="datatable" class="display" style="width:100%">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>ФИО</th>
                                    <th>Телефон</th>
                                    <th>Email</th>
                                    <th>Дом</th>
                                    <th>Квартира</th>
                                    <th>Добавлен</th>
                                    <th>Статус</th>
                                    <th>Есть долг</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th>Id</th>
                                    <th>ФИО</th>
                                    <th>Телефон</th>
                                    <th>Email</th>
                                    <th>Дом</th>
                                    <th>Квартира</th>
                                    <th>Добавлен</th>
                                    <th>Статус</th>
                                    <th>Есть долг</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in user_list %}
                                    <tr data-href=""
                                        style="cursor: pointer;">
                                        <td data-filter="{{ user.user_id }}">{{ user.user_id }}</td>
                                        <td data-filter="{{ user.full_name }}">{{ user.full_name }}</td>
                                        <td data-filter="{{ user.phone }}">{{ user.phone }}</td>
                                        <td data-filter="{{ user.email }}">{{ user.email }}</td>
                                        <td data-filter="
                                                {% for flat in user.flats.all|get_unique_houses %}{{ flat.house.name }}|||{% endfor %}">
                                            {% for flat in user.flats.all|get_unique_houses %}
                                                <a href="{% url 'admin_panel:house_detail' flat.house.id %}"><p>
                                                    {{ flat.house.name }}</p></a>
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% for flat in user.flats.all %}
                                                <a href="{% url 'admin_panel:flat_detail' flat.id %}"><p>
                                                    № {{ flat.number }}, {{ flat.house.name }}</p></a>
                                            {% endfor %}
                                        </td>
                                        <td>{{ user.date_joined }}</td>
                                        <td data-filter="{{ user.status }}|||">{{ user.status }}</td>
                                        <td data-filter=""></td>
                                        <td>
                                            <div class="btn-group pull-right"><a class="btn btn-default btn-sm"
                                                    {#                                                                                 href="{% url 'admin_panel:house_update' house.pk %}"#}
                                                                                 title="Редактировать"
                                                                                 data-toggle="tooltip">
                                                <i class="fa fa-pencil"></i></a> <a class="btn btn-default btn-sm"
                                                    {#                                                                                    href="{% url 'admin_panel:house_delete' house.pk %}"#}
                                                                                    title="Удалить"
                                                                                    onClick="delete_object(event)">
                                                <i class="fa fa-trash"></i></a></div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div class="box-footer">
                            <div>Количество владельцев: <span class="text-bold">{{ user_list.count }}</span></div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/fixedheader/3.1.9/js/dataTables.fixedHeader.min.js"></script>

    <script>
        $(document).ready(function () {
            // Setup - add a text input to each footer cell
            {#$('#datatable thead tr').clone(true).appendTo('#datatable thead');#}
            let table = make_datatable()
            const filters_row = $('#datatable thead tr:eq(1) th')
            filters_row.slice(0, 4).each(function (i) {
                let title = $(this).text();
                $(this).html('<input type="text" placeholder="Поиск - ' + title + '" />');

                $('input', this).on('keyup change', function () {
                    if (table.column(i).search() !== this.value) {
                        table
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
            });
            filters_row.slice(5, 7).each(function (i) {
                let title = $(this).text();
                $(this).html('<input type="text" placeholder="Поиск - ' + title + '" />');

                $('input', this).on('keyup change', function () {
                    if (table.column(i + 1).search() !== this.value) {
                        table
                            .column(i + 1)
                            .search(this.value)
                            .draw();
                    }
                });
            });
            make_select(filters_row, 4, 5, table)
            make_select(filters_row, 7, 9, table)
        });

        function make_datatable() {
            let table = $('#datatable').DataTable({
                orderCellsTop: true,
                fixedHeader: true,
                sDom: '<"top"i>rt<"bottom"lp><"clear">',
                lengthChange: false,
                bInfo: false,
                pageLength: 10,
                drawCallback: add_links_to_rows
            });
            return table;
        }

        function add_links_to_rows() {
            $('tr[data-href]').on("click", function () {
                document.location = $(this).data('href');
            });
        }

        function delete_object(event) {
            if (window.confirm("Вы действительно хотете удалить данные?")) {
            } else {
                event.preventDefault();
            }
        }

        function make_select(filters_row, slice1, slice2, table) {
            filters_row.slice(slice1, slice2).each(function (i) {
                let title = $(this).text();
                var select = $('<select><option value=""></option></select>')
                    .appendTo($(this).empty())
                    .on('change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
                        table.column(i + slice1)
                            .search(val ? $(this).val() : val, true, false)
                            .draw();
                    });

                var statusItems = [];

                /* ### IS THERE A BETTER/SIMPLER WAY TO GET A UNIQUE ARRAY OF <TD> data-filter ATTRIBUTES? ### */
                table.column(i + slice1).nodes().to$().each(function (d, j) {
                    var thisStatus = $(j).attr("data-filter");
                    var data = thisStatus.split('|||')
                    for (let k = 0; k < data.length - 1; k++) {
                        let new_status = data[k]
                        if ($.inArray(new_status, statusItems) === -1) statusItems.push(new_status);
                    }
                });

                statusItems.sort();

                $.each(statusItems, function (i, item) {
                    select.append('<option value="' + item + '">' + item + '</option>');
                });
            });
        }
    </script>
    {% include 'admin_panel/elements/messages.html' %}>

{% endblock %}
