{% load extra_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" type="image/png" href="http://myhouse24.avada-media.ua/favicon.png">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'admin_panel/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin_panel/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}"
          rel="stylesheet">
    <link href="{% static 'admin_panel/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin_panel/plugins/Ionicons/css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin_panel/plugins/jvectormap/jquery-jvectormap.css' %}" rel="stylesheet">
    <link href="{% static 'admin_panel/css/AdminLTE.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin_panel/plugins/iCheck/flat/blue.css' %}" rel="stylesheet">
    <link href="{% static 'admin_panel/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin_panel/css/all-skins.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin_panel/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'admin_panel/plugins/alertifyjs/css/alertify.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin_panel/plugins/alertifyjs/css/themes/default.min.css' %}" rel="stylesheet">
    {% block head %}{% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"
          rel="stylesheet">
</head>
<body class="hold-transition skin-black-light sidebar-mini fixed">

<div class="wrapper">
    <!--main-header-->
    <header class="main-header">

        <!-- Logo -->
        <a href="/admin_panel" class="logo">
        <span class="logo-mini">
            <img src="{% static 'admin_panel/images/logo/logo-mini.svg' %}" class="img-responsive" alt="">
        </span>
            <span class="logo-lg">
            <img src="{% static 'admin_panel/images/logo/logo.svg' %}" class="img-responsive" alt="">
        </span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Header title -->
            <div class="header-title">Панель администратора</div>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Notifications -->
                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-child fa-lg"></i>
                            <span class="label label-warning">4</span>
                        </a>
                        <ul class="dropdown-menu">

                            <li class="header">Новых пользователей: <span id="new-users-count">0</span></li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu" id="new-users">

                                </ul>

                            </li>
                            <li class="footer"><a href="{% url 'admin_panel:user_list' %}">Перейти в раздел
                                пользователей</a></li>

                        </ul>
                    </li>
                    <!-- User Account -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {% if request.user.avatar %}
                                <img src="{{ request.user.avatar.url }}" class="user-image" alt="admin admin">
                            {% else %}
                                <img src="{% static 'admin_panel/images/jpg/Image-not-found.jpg' %}" class="user-image"
                                     alt="admin admin">
                            {% endif %}

                            <span class="hidden-xs">{{ request.user.full_name }}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                {% if request.user.avatar %}
                                    <img src="{{ request.user.avatar.url }}" class="img-circle" alt="admin admin">
                                {% else %}
                                    <img src="{% static 'admin_panel/images/jpg/Image-not-found.jpg' %}"
                                         class="img-circle" alt="admin admin">
                                {% endif %}
                                <p>{{ request.user.full_name }} (Директор)</p>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a class="btn btn-default btn-flat"
                                       href="{% url 'admin_panel:user_detail' user.pk %}">Профиль</a>
                                </div>
                                <div class="pull-right">
                                    <a class="btn btn-default btn-flat" href="/admin_panel/site/logout"
                                       data-method="post">Выход</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </nav>
    </header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar -->
        <section class="sidebar">

            <ul class="sidebar-menu" data-widget="tree">
                {% if request.user|check_access:'statistics_access' == True %}
                    {#                {% if request.user.role.statistics_access == 'True' or request.user.is_superuser or request.user.role.name == 'Директор' %}#}
                    <li class="{% block nav_item_home %}{% endblock %}"><a href="/admin_panel"><i
                            class="fa fa-line-chart"></i> <span>Статистика</span></a>
                    </li>
                {% endif %}
                {% if request.user|check_access:'cashbox_access' == True %}
                    <li class="{% block nav_item_transaction_list %}{% endblock %}"><a href="{% url 'admin_panel:transaction_list' %}"><i class="fa fa-dollar"></i> <span>Касса</span></a>
                    </li>
                {% endif %}
                {% if request.user|check_access:'receipt_access' == True %}
                    <li class="{% block nav_item_receipt_list %}{% endblock %}"><a href="{% url 'admin_panel:receipt_list' %}"><i class="fa fa-files-o"></i>
                        <span>Квитанции на оплату</span></a>
                    </li>
                {% endif %}
                {% if request.user|check_access:'account_access' == True %}
                    <li class="{% block nav_item_account_list %}{% endblock %}"><a href="{% url 'admin_panel:account_list' %}"><i class="fa fa-credit-card"></i>
                        <span>Лицевые счета</span></a></li>
                {% endif %}
                {% if request.user|check_access:'flat_access' == True %}
                    <li class="{% block nav_item_flat_list %}{% endblock %}"><a
                            href="{% url 'admin_panel:flat_list' %}"><i
                            class="fa fa-key"></i> <span>Квартиры</span></a></li>
                {% endif %}
                {% if request.user|check_access:'house_user_access' == True %}
                    <li class="{% block nav_item_user_list %}{% endblock %}"><a
                            href="{% url 'admin_panel:user_list' %}"><i
                            class="fa fa-users"></i> <span>Владельцы квартир</span></a>
                    </li>
                {% endif %}
                {% if request.user|check_access:'house_access' == True %}
                    <li class="{% block nav_item_house_list %}{% endblock %}"><a
                            href="{% url 'admin_panel:house_list' %}"><i class="fa fa-building"></i>
                        <span>Дома</span></a>
                    </li>
                {% endif %}
                {% if request.user|check_access:'message_access' == True %}
                    <li class="{% block nav_item_message_list %}{% endblock %}"><a
                            href="{% url 'admin_panel:message_list' %}"><i
                            class="fa fa-envelope-o"></i><span>Сообщения</span></a>
                    </li>
                {% endif %}
                {% if request.user|check_access:'call_request_access' == True %}
                    <li><a href="/admin_panel/master-request/index"><i class="fa fa-wrench"></i>
                        <span>Заявки вызова мастера</span></a></li>
                {% endif %}
                {% if request.user|check_access:'meter_data_access' == True %}
                    <li class="{% block nav_item_meter_data_list %}{% endblock %}"><a href="{% url 'admin_panel:meter_data_list' %}"><i class="fa fa-dashboard"></i>
                        <span>Показания счетчиков</span></a></li>
                {% endif %}
                {% if request.user|check_access:'site_access' == True %}
                    <li class="{% block nav_item_site_control %}{% endblock %} treeview"><a href="#!"><i
                            class="fa fa-desktop"></i> <span>Управление сайтом</span> <span
                            class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                        <ul class='treeview-menu'>
                            <li class="{% block nav_item_site_home %}{% endblock %}"><a
                                    href="{% url 'admin_panel:site_home' %}"><i class="fa fa-circle-o"></i>
                                <span>Главная страница</span></a></li>
                            <li class="{% block nav_item_site_about %}{% endblock %}"><a
                                    href="{% url 'admin_panel:site_about' %}"><i class="fa fa-circle-o"></i>
                                <span>О нас</span></a></li>
                            <li class="{% block nav_item_site_services %}{% endblock %}"><a
                                    href="{% url 'admin_panel:site_services' %}"><i class="fa fa-circle-o"></i>
                                <span>Услуги</span></a>
                            </li>
                            <li class="{% block nav_item_site_contacts %}{% endblock %}"><a
                                    href="{% url 'admin_panel:site_contacts' %}"><i class="fa fa-circle-o"></i> <span>Контакты</span></a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
                <li class="{% block nav_item_system_control %}{% endblock %} treeview"><a href="#!"><i
                        class="fa fa-cogs"></i> <span>Настройки системы</span> <span
                        class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                    <ul class='treeview-menu'>
                        {% if request.user|check_access:'service_access' == True %}
                            <li class="{% block nav_item_system_services %}{% endblock %}"><a
                                    href="{% url 'admin_panel:system_services' %}"><i class="fa fa-briefcase"></i>
                                <span>Услуги</span></a>
                            </li>
                        {% endif %}
                        {% if request.user|check_access:'tariff_access' == True %}
                            <li class="{% block nav_item_system_tariffs %}{% endblock %}"><a
                                    href="{% url 'admin_panel:system_tariffs' %}"><i class="fa fa-money"></i>
                                <span>Тарифы</span></a></li>
                        {% endif %}
                        {% if request.user|check_access:'role_access' == True %}
                            <li class="{% block nav_item_system_staff_roles %}{% endblock %}"><a
                                    href="{% url 'admin_panel:system_staff_roles' %}"><i class="fa fa-user"></i>
                                <span>Роли</span></a></li>
                        {% endif %}
                        {% if request.user|check_access:'staff_access' == True %}
                            <li class="{% block nav_item_system_staff_list %}{% endblock %}"><a
                                    href="{% url 'admin_panel:system_staff_list' %}"><i class="fa fa-user-plus"></i>
                                <span>Пользователи</span></a>
                            </li>
                        {% endif %}
                        {% if request.user|check_access:'payments_detail_access' == True %}
                            <li class="{% block nav_item_system_credentials %}{% endblock %}"><a
                                    href="{% url 'admin_panel:system_credentials' %}"><i
                                    class="fa fa-credit-card"></i> <span>Платежные реквизиты</span></a>
                            </li>
                        {% endif %}
                        {% if request.user|check_access:'payments_detail_access' == True %}
                            <li class="{% block nav_item_system_transaction_type_list %}{% endblock %}"><a
                                    href="{% url 'admin_panel:system_transaction_type_list' %}"><i
                                    class="fa fa-list-ol"></i><span>Статьи платежей</span></a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    {% block content %}{% endblock %}
    {% include 'admin_panel/elements/footer.html' %}

    <script src="{% static 'admin_panel/js/jquery.js' %}"></script>
    {#<script src="https://code.jquery.com/jquery-3.5.1.js"></script>#}
    <script src="{% static 'admin_panel/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'admin_panel/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'admin_panel/plugins/fastclick/fastclick.js' %}"></script>
    <script src="{% static 'admin_panel/js/adminlte.min.js' %}"></script>
    <script src="{% static 'admin_panel/plugins/iCheck/icheck.min.js' %}"></script>
    <script src="{% static 'admin_panel/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.js' %}"></script>
    <script src="{% static 'admin_panel/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.ru-RU.js' %}"></script>
    <script src="{% static 'admin_panel/plugins/jquery-sparkline/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'admin_panel/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
    <script src="{% static 'admin_panel/plugins/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
    <script src="{% static 'admin_panel/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'admin_panel/plugins/chart.js/Chart.js' %}"></script>
    <script src="{% static 'admin_panel/plugins/alertifyjs/alertify.min.js' %}"></script>

    {% block scripts %}{% endblock %}

    <script>
        $.ajax({
            type: 'get',
            url: '{% url 'admin_panel:api_new_users' %}',
            enctype: '',
            data: '',
            success: function (data) {
                data = data.results
                const new_users = document.getElementById('new-users')

                var list_element;
                for (let i = 0; i < data.length; i++) {
                    let id = data[i].id
                    let full_name = data[i].full_name
                    let link = '{% url 'admin_panel:user_detail' 1 %}'.slice(0, -2)

                    let list_element = '<li><a href="' + link + id + '">' + full_name + '</a></li>';
                    $(new_users).append($(list_element))
                }
                let users_count = $('#new-users-count').html(data.length)
            },
            error: function (response) {
                console.log(response)
            },
            cache: false,
            contentType: false,
            processData: false,
        });
    </script>
</div>
</body>
</html>