{% load static %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menuBtn" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="{% static 'site/images/logo/logo.svg' %}" alt="Demo CRM 24">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="menuBtn">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/">Главная<span class="sr-only">(current)</span></a></li>
                <li class=""><a href="/about">О нас</a></li>
                <li class=""><a href="/services">Услуги</a></li>
                                        <li><a href="https://avada-media.ua/moydom24/">Условия приобретения</a></li>
                                    <li class=""><a href="/contact">Контакты</a></li>
                <li><a href="http://myhouse24.avada-media.ua/cabinet/site/login"><i class="fas fa-sign-in-alt"></i> Вход</a></li>
            </ul>
        </div>
    </div>
</nav>
