{% extends 'cabinet/elements/base.html' %}
{% load i18n %}
{% load extra_tags %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}
{% block nav_item_call_request_list %}active{% endblock %}

{% block title %}Вызов мастера{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/fixedheader/3.1.9/css/fixedHeader.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/fixedcolumns/3.3.3/css/fixedColumns.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css">

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link href="{% static 'admin_panel/css/select2-bootstrap4.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="content-wrapper" style="min-height: 345px;">
        <section class="content-header">
            <h1>Квитанции на оплату</h1>

            <ul class="breadcrumb">
                <li><a href="{% url 'admin_panel:home' %}"><i class="fa fa-home"></i>Главная</a></li>
                <li class="active">Лицевые счета</li>
            </ul>
        </section>

        <section class="content">

            <div class="col-xs-12">

                <div class="pull-right margin-bottom">
                    <a class="btn btn-success" href="{% url 'admin_panel:call_request_create' %}">Добавить заявку</a>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title"></h3>
                            <div class="box-tools">
                                <a href="{% url 'admin_panel:receipt_list' %}" class="btn btn-default btn-sm">
                                    <span class="hidden-xs">Очистить</span><i class="fa fa-eraser visible-xs"
                                                                              aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>

                        <div class="table-responsive" style="padding:10px">
                            <table id="datatable" class="display" style="width:100%;">
                                <thead>
                                <tr>
                                    <th>№ заявки</th>
                                    <th>Удобное время</th>
                                    <th>Тип мастера</th>
                                    <th>Описание</th>
                                    <th>Статус</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th>№ заявки</th>
                                    <th>Удобное время</th>
                                    <th>Тип мастера</th>
                                    <th>Описание</th>
                                    <th>Статус</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for object in object_list %}
                                    <tr data-href="{% url 'admin_panel:call_request_detail' object.pk %}"
                                        style="cursor: pointer;"
                                        id="{{ object.id }}">
                                        <td data-filter="{{ object.id }}">{{ object.id }}</td>
                                        <td data-filter="{{ object.request_date }} - {{ object.request_time }}">{{ object.request_date }}
                                            - {{ object.request_time }}</td>
                                        <td data-filter="{{ object.master_type }}|||">{{ object.master_type }}</td>
                                        <td data-filter="{{ object.description }}">{{ object.description }}</td>

                                        <td data-filter="{% if object.status == "NEW" %}Новое{% elif object.status == "IN_WORK" %}В работе{% elif object.status == "DONE" %}Выполнено{% else %}ERROR{% endif %}|||">
                                            {% if object.status == "NEW" %}
                                                <small class="label label-primary">Новое</small>
                                            {% elif object.status == "IN_WORK" %}
                                                <small class="label label-warning">В работе</small>
                                            {% elif object.status == "DONE" %}
                                                <small class="label label-success">Выполнено</small>
                                            {% else %}
                                                ERROR
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="btn-group pull-right">
                                                <a class="btn btn-default btn-sm"
                                                   href="{% url 'admin_panel:call_request_delete' object.pk %}"
                                                   title="Удалить"
                                                   onClick="delete_object(event)">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/fixedheader/3.1.9/js/dataTables.fixedHeader.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
    <script src="https://cdn.datatables.net/fixedcolumns/3.3.3/js/dataTables.fixedColumns.min.js"></script>

    <script>
        $(document).ready(function () {
            let table = make_datatable()
            add_links_to_rows()

            const filters_row = $('#datatable thead tr:eq(1) th')
            make_search(filters_row, 0, 2, table)
            make_select(filters_row, 2, 3, table)
            make_search(filters_row, 3, 4, table)
            make_select(filters_row, 4, 5, table)

            $('#datatable thead tr:eq(1) th select').select2({
                theme: 'bootstrap',
                width: 900,
            })
            $('#datatable thead tr:eq(1) th input')
                .attr('class', 'form-control')
                .attr('style', 'width: 100%; display: inline-block;');
        });

        function make_datatable() {
            let table = $('#datatable').DataTable({
                order: [[3, 'desc']],
                orderCellsTop: true,
                fixedHeader: true,
                sDom: '<"top"i>rt<"bottom"lp><"clear">',
                lengthChange: false,
                bInfo: false,
                pageLength: 10,

                {#drawCallback: add_links_to_rows,#}
                columns: [
                    {"width": "8%", "className": "dt-center"},
                    null,
                    null,
                    null,
                    {"width": "8%", "className": "dt-center"},
                    {"width": "8%", "className": "dt-center"},
                ],
            });
            $("td.select-checkbox").attr('style', 'top: auto;')
            return table;
        }

        function add_links_to_rows() {
            $('tr[data-href]').on("click", function () {
                document.location = $(this).data('href');
            });
        }

        function delete_object(event) {
            if (window.confirm("Вы действительно хотете удалить данные?")) {
            } else {
                event.preventDefault();
            }
        }

        function make_select(filters_row, slice1, slice2, table) {
            filters_row.slice(slice1, slice2).each(function (i) {
                let title = $(this).text();
                var select = $('<select><option value="">-----------</option></select>')
                    .appendTo($(this).empty())
                    .on('change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
                        table.column(i + slice1)
                            .search(val ? $(this).val() : val, true, false)
                            .draw();
                    });

                var statusItems = [];

                /* ### IS THERE A BETTER/SIMPLER WAY TO GET A UNIQUE ARRAY OF <TD> data-filter ATTRIBUTES? ### */
                table.column(i + slice1).nodes().to$().each(function (d, j) {
                    var thisStatus = $(j).attr("data-filter");
                    var data = thisStatus.split('|||')
                    for (let k = 0; k < data.length - 1; k++) {
                        let new_status = data[k]
                        if ($.inArray(new_status, statusItems) === -1) statusItems.push(new_status);
                    }
                });

                statusItems.sort();

                $.each(statusItems, function (i, item) {
                    select.append('<option value="' + item + '">' + item + '</option>');
                });
            });

        }

        function make_search(filters_row, slice1, slice2, table) {
            filters_row.slice(slice1, slice2).each(function (i) {
                let title = $(this).text();
                $(this).html('<input class="form-control" type="text" placeholder="Поиск - ' + title + '" />');

                $('input', this).on('keyup change', function () {
                    if (table.column(i + slice1).search() !== this.value) {
                        table
                            .column(i + slice1)
                            .search(this.value)
                            .draw();
                    }
                });
            });
        }

        function send_ajax_to_delete_receipts(id_list) {
            $.ajax({
                url: '{% url 'admin_panel:api_delete_receipts' %}',
                data: {
                    'id_list': JSON.stringify(id_list)
                },
                dataType: 'json',
                success: function (data) {
                    location.reload();
                }
            });
        }
    </script>
    {% include 'admin_panel/elements/messages.html' %}>

{% endblock %}
