{% extends 'cabinet/elements/base.html' %}
{% load static %}
{% block nav_item_statistics %}active menu-open{% endblock %}

{% block title %}Сводка - {% endblock %}

{% block content %}
    <div class="content-wrapper" style="min-height: 867px;">
    <section class="content-header">
        <h1>
            Сводка - ЖК "Королевские сады", кв.5008        </h1>

            </section>

    <section class="content">
                <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="small-box bg-red">
            <div class="inner">
                <h3>-39 502.90 грн</h3>
                <p>Баланс по квартире</p>
            </div>
            <div class="icon">
                <i class="fa fa-money"></i>
            </div>
            <span class="small-box-footer">
                &nbsp;
            </span>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="small-box bg-blue">
            <div class="inner">
                <h3>10019-00000</h3>
                <p>Лицевой счет</p>
            </div>
            <div class="icon">
                <i class="fa fa-user"></i>
            </div>
            <span class="small-box-footer">
                &nbsp;
            </span>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>7 988.18 грн</h3>
                <p>Средний расход за месяц</p>
            </div>
            <div class="icon">
                <i class="fa fa-pie-chart"></i>
            </div>
            <span class="small-box-footer">
                &nbsp;
            </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 id="pieChartTitle" class="box-title">Диаграмма расходов</h3>
                            </div>
            <div class="box-body">
                <div class="row">
                                            <div class="col-xs-12">
                            <p>Недостаточно данных для отображения статистики</p>
                        </div>
                                    </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Диаграмма расходов по месяцам за год</h3>
            </div>
            <div class="box-body">
                <div class="row">
                                            <div class="col-xs-12">
                            <p>Недостаточно данных для отображения статистики</p>
                        </div>
                                    </div>
            </div>
        </div>
    </div>
</div>

    </section>
</div>
{% endblock %}

{% block scripts %}
    <script>
    function set_statistics_data() {
        $.ajax({
            url: '{% url 'admin_panel:api_get_statistics' %}',
            dataType: 'json',
            success: function (data) {
                console.log(data.results.cash_box_balance)
                $('#account-debt').text(data.results.account_debt)
                $('#account-balance').text(data.results.account_balance)
                $('#cash-box-balance').text(data.results.cash_box_balance)
            }
        })
    }
    </script>

{% endblock %}

