{% extends "site/elements/base.html" %}
{% load static %}
{% block nav_item_about %}active{% endblock %}

{% block title %}CRM-система для управляющей компании ЖКХ - &quot;МОЙ ДОМ 24&quot;{% endblock %}

{% block head %}
    <meta name="description" content="{{ object.seo_data.description }}">
    <meta name="keywords" content="{{ object.seo_data.keywords }}">
{% endblock %}

{% block content %}
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="{% url 'site:home' %}">Главная</a></li>
                        <li class="active">О нас</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box clearfix" style="text-align: justify;">
                        <div class="page-header">
                            <h1>{{ object.title }}</h1>
                        </div>
                        {% if object.portrait %}
                            <img src="{{ object.portrait.url }}" alt="" class="img-responsive imgFloatRight"
                                 style="width: 250px; height: 310px; object-fit: cover;">
                        {% else %}
                            <img src="{% static 'admin_panel/images/jpg/Image-not-found.jpg' %}" alt="" class="img-responsive imgFloatRight"
                                 style="width: 250px; height: 310px; object-fit: cover;">
                        {% endif %}

{#                        <img src="{{ object.portrait.url }}"#}
{#                             class="img-responsive imgFloatRight" alt="">#}
                        {{ object.description|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gallery g1">
        <div class="container">
            <div class="row">
                {% for image in object.gallery.all %}
                    <div class="col-xs-12 col-sm-6 col-md-3 item" data-src="{{ image.image.url }}">
                        <a href="{{ image.image.url }}" class="big">
                            <img src="{{ image.image.url }}"
                                 alt="" class="img-responsive img-thumbnail">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box clearfix" style="text-align: justify;">
                        <div class="page-header">
                            <h3>{{ object.title2 }}</h3>
                        </div>
                        {{ object.description2|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>jQuery(function ($) {

        var lightbox = $('.g1 .item a').simpleLightbox({
            captionsData: 'alt',
        });

    });</script>
{% endblock %}
