{% extends "site/elements/base.html" %}
{% load extra_tags %}
{% load static %}
{% block nav_item_contacts %}active{% endblock %}

{% block title %}CRM-система для управляющей компании ЖКХ - &quot;МОЙ ДОМ 24&quot;{% endblock %}

{% block head %}
    <meta name="description" content="{{ seo_data.description }}">
    <meta name="keywords" content="{{ seo_data.keywords }}">
{% endblock %}

{% block content %}
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="{% url 'site:home' %}">Главная</a></li>
                        <li class="active">Контакты</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="map">
        {{ object.map|safe }}
    </div>
    <div class="contacts">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-8">
                    <div class="page-header">
                        <h1>{{ object.title }}</h1>
                    </div>
                    <div class="box" style="text-align: justify;">
                        {{ object.description|safe }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class="page-header">
                        <h3>Контакты</h3>
                    </div>
                    <div class="box">
                        <p><i class="fas fa-user-circle"></i> {{ object.name }}</p>
                        <p><i class="fas fa-compass"></i> {{ object.location }}</p>
                        <p><i class="fas fa-map-marker"></i> {{ object.address }}</p>
                        <p><i class="fas fa-phone"></i> <a href="tel:{{ object.phone }}">{{ object.phone|cool_phone_number }}</a></p>
                        <p><i class="fas fa-envelope"></i> <a href="mailto:{{ object.email }}">{{ object.email }}</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
