{% extends "site/elements/base.html" %}
{% load extra_tags %}
{% load static %}
{% block nav_item_home %}active{% endblock %}

{% block title %}Сайт Управляющей Компании ЖКХ - "МОЙ ДОМ 24"{% endblock %}

{% block head %}
    <meta name="description" content="{{ object.seo_data.description }}">
    <meta name="keywords" content="{{ object.seo_data.keywords }}">
{% endblock %}

{% block content %}
    <div class="slider">
        <div>
            <img src="{{ object.slider1.url }}" alt="asf">
        </div>
        <div>
            <img src="{{ object.slider2.url }}" alt="saf">
        </div>
        <div>
            <img src="{{ object.slider3.url }}" alt="afs">
        </div>
    </div>


    <div class="info">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-8">
                    <div class="page-header">
                        <h1></h1>
                    </div>
                    <div class="box" style="text-align: justify;">
                        <h3>{{ object.title }}<br></h3>
                        <p>{{ object.description|safe }}</p>
                        <div class="row">
                            <div class="col-xs-4">
                                <a href="{% url 'site:about' %}" class="btn btn-primary">Подробнее</a>
                            </div>
                            <div class="col-xs-8">
                                <a href="https://itunes.apple.com/us/app/%D0%BC%D0%BE%D0%B9%D0%B4%D0%BE%D0%BC24/id1308075440?l=ru&amp;ls=1&amp;mt=8">
                                    <img src="{% static 'site/images/png/appstore.png' %}"
                                         class="img-responsive imgStore" alt>
                                </a>
                                <a href="https://play.google.com/store/apps/details?id=com.avadamedia.program.myhouse24&amp;hl=uk">
                                    <img src="{% static 'site/images/png/googleplay.png' %}"
                                         class="img-responsive imgStore" alt>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class="page-header">
                        <h3>Контакты</h3>
                    </div>
                    <div class="box">
                        <p><i class="fas fa-user-circle"></i> {{ contacts.name }}</p>
                        <p><i class="fas fa-compass"></i> {{ contacts.location }}</p>
                        <p><i class="fas fa-map-marker"></i> {{ contacts.address }}</p>
                        <p><i class="fas fa-phone"></i> <a href="tel:{{ contacts.phone }}">{{ contacts.phone|cool_phone_number }}</a></p>
                        <p><i class="fas fa-envelope"></i> <a href="mailto:{{ contacts.email }}">{{ contacts.email }}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="advantages">
        <div class="container">
            <div class="row row-eq-height">
                <div class="col-xs-12">
                    <div class="page-header">
                        <h3>Рядом с нами</h3>
                    </div>
                </div>
                {% for around_us in object.around_us.all %}
                    <div class="col-xs-12 col-sm-6 col-md-4 advantage-item">
                        <div class="thumbnail">
                            {% if around_us.image %}
                                <img src="{{ around_us.image.url }}" class="img-responsive" alt>
                            {% else %}
                                <img src="{% static 'admin_panel/images/jpg/Image-not-found.jpg' %}"
                                     class="img-responsive" alt>
                            {% endif %}

                            <div class="caption" style="text-align: justify;">
                                <h3>{{ around_us.title }}</h3>
                                <p></p>
                                <p>
                                    {{ around_us.description|safe }}
                                </p>
                                <p></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'site/js/main.js' %}"></script>
    <script src="{% static 'site/js/simplelightbox/simple-lightbox.min.js' %}"></script>
{% endblock %}
